//- admin assessment assignment detail page
.container.top-padding-med
	.well.bottom-padding-lg
		//- country title
		legend Assign {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment
		form.form-horizontal(name='assign_assessment_form')
			div.left-padding-lg
				//- researcher selection dropdown
				.row
					.form-group
						label.col-md-2 Select Researcher
						.col-md-6.left-padding-lg
							select.form-group.form-control.right-padding-med(
								name="researcherSelect"
								ng-model="researcherSelect"
								ng-options="(r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in researchers"
								required)
								option(value="" selected disabled) Select researcher (required)...
						.col-md-2.pull-right
							button.btn.btn-primary(ng-click="assessmentAssign()", ng-disabled="assign_assessment_form.$invalid") Submit
							| &nbsp;
							a.btn.btn-default(href="/") Cancel
					
				//- reviewer selection dropdown
				.row
					.form-group
						label.col-md-2 Select Reviewer
						.col-md-6.left-padding-lg
							select.form-group.form-control.right-padding-med(
								name="reviewerSelect"
								ng-model="reviewerSelect"
								ng-options="(r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in reviewers")
								option(value="" selected disabled) Select reviewer...

				.row
					b Instructions
					p You must assign the assessment to a researcher. You can assign to a reviewer at a later data if need be.
