.container
	.well
		img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
		legend 
			h1 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment review
		.pull-right
			form.form-inline
				.form-group
					input.form-control(
						ng-model="searchText"
						placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(
						ng-model="sort_order"
						ng-options="item.value as item.text for item in sort_options")
			br
			button.btn.btn-primary(
				ng-click="moveAssessmentDialog()"
				ng-disabled="assessment.questions_complete!==assessment.question_list.length || assessment.status!=='under_review'"
				) Move assessment along
			//- ng-click="returnAssessment()"
			//- | &nbsp;
			//- button.btn.btn-success(
			//- 	ng-click="approveAssessment()" 
			//- 	ng-disabled="assessment.questions_complete!==assessment.question_list.length || assessment.status!=='under_review'"
			//- 	) Approve

		.pull-left.left-padding-lg.bottom-padding-lg
			.row
				text Researcher:
				a(href="mailto:{{assessment.researcher.email}}")  {{assessment.researcher.firstName}}  {{assessment.researcher.lastName}}
			.row
				text Reviewer:
				a(href="mailto:{{assessment.reviewer.email}}")  {{assessment.reviewer.firstName}}  {{assessment.reviewer.lastName}}
			.row
				text Status: {{assessment.status | capitalize}}
			.row
				text {{assessment.status | capitalize}} by 
				a(href="mailto:{{assessment.assigned_by.email}}") {{assessment.assigned_by.firstName}} {{assessment.assigned_by.lastName}} 
				text on 
				em {{assessment.assignment.assigned_date | date}}
			.row
				text Last edited by 
				a(href="mailto:{{assessment.edited_by.email}}")  {{assessment.edited_by.firstName}}  {{assessment.edited_by.lastName}} 
				text on 
				span(ng-repeat="mod in assessment.modified")
					em(ng-show="$last") {{mod.modified_date | date}}

		table.table.table-hover.table-striped.table-condensed
			thead
				tr
					th.col-md-1.text-center Question number
					th.col-md-1 Component
					th.col-md-5.text-center Question
					th.col-md-1 Status
					th.col-md-1.text-center Review
			tbody
				tr(ng-repeat="answer in assessment.question_list | filter: searchText | orderBy:sort_order")
					td.col-md-1.text-center {{answer.question_order}}
					td.col-md-1 {{answer.component_text}}
					td.col-md-5 {{answer.question_text}})
					td
						text.text-danger(ng-if="answer.status==='flagged'") {{answer.status | capitalize}}
						text.text-success(ng-if="answer.status==='approved'") {{answer.status | capitalize}}
						text(ng-if="answer.status!=='flagged' && answer.status!=='approved'") {{answer.status | capitalize}}

					td
						a.btn.center-block.btn-primary(href="/admin/assessment-review/answer-review-edit/{{answer.answer_ID}}" ng-if="answer.status==='submitted' || answer.status=='saved'") Review
						a.btn.center-block.btn-default(href="/admin/assessment-review/answer-review-edit/{{answer.answer_ID}}" ng-if="answer.status!=='submitted'") Edit

					//- td(ng-if="answer.edit_control===identity.currentUser._id")
					//- 	a.btn.center-block.btn-success(href="/assessments/assessment-edit/{{answer.answer_ID}}" ng-if="answer.status==='assigned' || answer.status=='saved'") Jump to question
					//- 	a.btn.center-block.btn-default(href="/assessments/assessment-view/{{answer.answer_ID}}" ng-if="answer.status==='submitted'") View to answer
					//- td(ng-if="answer.edit_control!==identity.currentUser._id")
					//- 	a.btn.center-block.btn-default(href="/assessments/assessment-view/{{answer.answer_ID}}" ng-if="answer.status!=='assigned' && answer.status!=='saved'") View answer
					//- 	a.btn.center-block.btn-success.disabled(href="/assessments/assessment-view/{{answer.answer_ID}}" ng-if="answer.status==='assigned' || answer.status==='saved'") No data