.container.top-padding-med
    .well.left-padding-lg.right-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
            legend {{assessment.country}} {{assessment.year}} {{assessment.version | ucfirst}} Assessment
                text.text-success.pull-right.right-padding-lg(ng-if="assessment.status==='under_review'") Review
            .pull-right
                form.form-inline
                    .form-group
                        input.form-control(ng-model="search_text", placeholder="Filter")
                    .form-group.margin-left-med
                        select.form-control(ng-model="sort_order", ng-options="item.value as item.text for item in sort_options")
                .row
                    br
                    button.btn.btn-success.pull-right(ng-click="assessmentSubmit()" disabled) Submit assessment


            .pull-left.left-padding-lg.bottom-padding-med
                .row
                    | Researcher:
                    a(href="mailto:{{assessment.researcher.email}}")  {{assessment.researcher.firstName}}  {{assessment.researcher.lastName}}
                .row
                    | Reviewer:
                    a(href="mailto:{{assessment.reviewer.email}}" ng-if="assessment.reviewer")  {{assessment.reviewer.firstName}}  {{assessment.reviewer.lastName}}
                    em(ng-if="assessment.reviewer") Not assigned
                .row
                    | Status: {{assessment.status | addSpaces | ucfirst}}
                .row
                    | Last edited by
                    a(href="mailto:{{assessment.edited_by.email}}")  {{assessment.edited_by.firstName}}  {{assessment.edited_by.lastName}}
                    |  on
                    span(ng-repeat="mod in assessment.modified")
                        em(ng-show="$last")  {{mod.modified_date | date}}
                .row
                    | Number of questions
                    text(ng-if="assessment.status==='under_review'")  reviewed:
                    text(ng-if="assessment.status!=='under_review'")  completed:
                    text(ng-if="assessment.questions_complete===0")  {{assessment.questions_complete}} (0%)
                    text(ng-if="assessment.questions_complete!==0")  {{assessment.questions_complete}} ({{((assessment.questions_complete/assessment.question_list.length)*100 | number :2)}} % complete)
                .row
                    | Number of questions flagged: {{assessment.questions_flagged}}
                .row
                    | Number of questions approved: {{assessment.questions_approved}}
                .row
                    | Number of questions resubmitted: {{assessment.questions_resubmitted}}
                .row
                    s Number of questions unfinalized: {{assessment.questions_unfinalized}}


            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th.col-md-1.text-center Question number
                        th.col-md-1 Component
                        th.col-md-5 Question
                        th.col-md-2.text-center Status
                        th.col-md-1.text-center
                tbody
                    tr(ng-repeat="question in assessment.question_list | filter: search_text | orderBy:sort_order")
                        td.col-md-1.text-center {{question.question_order}}
                        td.col-md-1 {{question.component_text}}
                        td.col-md-5 {{question.question_text}}
                        td.col-md-2.text-center
                            .text-success.glyphicon.glyphicon-check(ng-if="question.status==='approved'")  {{question.status | ucfirst}}
                            .text-warning.glyphicon.glyphicon-zoom-in(ng-if="question.status==='submitted'")  {{question.status | ucfirst}}
                            .text-warning.glyphicon.glyphicon-zoom-in(ng-if="question.status==='resubmitted'")  {{question.status | ucfirst}}
                            .text-danger.glyphicon.glyphicon-flag(ng-if="question.status==='flagged'")  {{question.status | ucfirst}}
                            .text-primary.glyphicon.glyphicon-floppy-disk(ng-if="question.status==='saved'")  {{question.status | ucfirst}}
                            .text(ng-if="question.status!=='flagged' && question.status!=='approved' && question.status!=='resubmitted' && question.status!=='submitted' && question.status!=='saved'")  {{question.status | ucfirst}}
                        td(ng-if="question.status!=='under_review' && question.status!=='resubmitted' && question.status!=='submitted'")
                            a.btn.center-block.btn-default(href="/admin/assessments-admin/answer/{{question.answer_ID}}") Go to answer page
                        td(ng-if="question.status!=='under_review' || question.status!=='resubmitted' || question.status!=='submitted'")
                            a.btn.center-block.btn-primary(
                            ng-if="question.status==='submitted'"
                            href="/admin/assessments-admin/answer/{{question.answer_ID}}") Review
                            a.btn.center-block.btn-warning(
                            ng-if="answer.status==='resubmitted'"
                            href="/admin/assessments-admin/answer/{{question.answer_ID}}") Review
                            a.btn.center-block.btn-danger(
                            ng-if="answer.status==='flagged'"
                            href="/admin/assessments-admin/answer/{{question.answer_ID}}") Review
                            a.btn.center-block.btn-default(
                            ng-if="answer.status==='approved'"
                            href="/admin/assessments-admin/answer/{{question.answer_ID}}") Review