//- admin assessment assignment detail page
.container.top-padding-med
	.well.bottom-padding-lg
		//- country title
		legend {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment
		form.form-horizontal(name='assign_assessment_form')

			//- researcher selection dropdown
			.form-group.left-padding-lg
				label.col-md-2 Select Researcher
				.col-md-6.left-padding-lg
					select.form-group.form-control.right-padding-med(
						name="researcherSelect"
						ng-model="researcherSelect"
						ng-options="(r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in researchers"
						required)
						option(value="" selected disabled) Select researcher (required)...
				
			//- reviewer selection dropdown
			.form-group.left-padding-lg
				label.col-md-2 Select Reviewer
				.col-md-6.left-padding-lg
					select.form-group.form-control.right-padding-med(
						name="reviewerSelect"
						ng-model="reviewerSelect"
						ng-options="(r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in reviewers")
						option(value="" selected disabled) Select reviewer...

			.form-group
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="assessmentAssign()", ng-disabled="assign_assessment_form.$invalid") Submit
						| &nbsp;
						a.btn.btn-default(href="/") Cancel