//CONTROLS FOR ASSESSMENT NAVIGATION
//$scope.moveForward = function () {
//    if ($scope.identity.currentUser._id === $scope.assessment.edit_control) {
//        $location.path('/assessments/assessment-edit/' + $scope.assessment.assessment_ID + "-" + String(zeroFill($scope.answer.question_order + 1, 3)));
//} else {
//$location.path('/assessments/assessment-view/' + $scope.assessment.assessment_ID + "-" + String(zeroFill($scope.answer.question_order + 1, 3)));
//}
//};
// fast forward - edit
a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
href="assessments/assessment-edit/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
ng-if="assessment.question_length!==answer.question_order && identity.currentUser._id === assessment.edit_control")

// fast forward - view
a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
href="assessments/assessment-view/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
ng-if="assessment.question_length!==answer.question_order && identity.currentUser._id !== assessment.edit_control")

glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
ng-if="assessment.question_length===answer.question_order"
disabled)

glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
ng-click="moveForward()"
ng-if="answer.question_order!==assessment.question_length")

glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(
ng-if="answer.question_order===assessment.question_length"
disabled)

glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
ng-click="moveBackward()"
ng-if="answer.question_order!==1")

glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="answer.question_order===1")

// fast rewind - edit
a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
href="assessments/assessment-edit/{{assessment.assessment_ID}}-001"
ng-if="answer.question_order!==1 && identity.currentUser._id === assessment.edit_control")

// fast rewind - view
a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
href="assessments/assessment-view/{{assessment.assessment_ID}}-001"
ng-if="answer.question_order!==1 && identity.currentUser._id !== assessment.edit_control")

glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
ng-if="answer.question_order===1"
disabled)