.left-padding-lg.right-padding-lg
    .modal-header
        h3(ng-if="resource_type === 'resource'") New Resource block
        h3(ng-if="resource_type === 'faq'") New FAQ block
    .modal-body
        form(name="newResourceForm").form-horizontal
            .row-fluid
                .row.form-group.left-padding-lg.right-padding-lg
                    .resource-title-block
                        input.form-group.form-control(
                            name="label"
                            ng-model="new_resource.head"
                            placeholder="Title"
                            required
                        )
            .row-fluid
                .row.form-group.left-padding-lg.right-padding-lg
                    rgi-wysiwyg(
                        name="resource-content_text"
                        placeholder="Please provide resource content (4,000 character limit)..."
                        ng-model="new_resource.body"
                        required
                    )

    .modal-footer
        button.btn.btn-success(ng-click="createResource()", ng-disabled="newResourceForm.$invalid") Create new block
        | &nbsp;
        button.btn.btn-danger(ng-click="closeThisDialog()") Cancel