div(id="comments_div").bottom-padding-med
   legend Comments:
   div(id="prev_comments_div" ng-if="answer.comments.length!==0")
      .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
         .row
            b {{comment.author_name}} (
            b {{comment.role}}
            b ):
         .row
            date
               small
                  em  {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
         .row.col-md-11(ng-bind-html="comment.content")
         .row.pull-right.right-padding-lg(ng-if="comment.author === current_user._id")
            button.btn.btn-primary(ng-click="commentEdit(comment, $index)") Edit comment

   div(id="new_comment_div").bottom-padding-med.top-padding-med
      ng-form(name="new_comment_form")
         .form-group.top-padding-med
            .row.left-padding-lg
               .col-md-10
                  textarea.form-control(
                  name="comment"
                  type="text"
                  ng-model="answer.new_comment"
                  placeholder="New comment..."
                  redactor
                  required)
               .col-md-1
                  button.btn.btn-success(
                  ng-click="answerCommentSubmit()"
                  ng-disabled="new_comment_form.$invalid"
                  ) Submit comment