div(id="flags_div").bottom-padding-med
    legend Flags:
    div.panel-group(
    id="prev_flags_div"
    role="tablist"
    aria-multiselectable="true")
        div.panel(ng-repeat="flag in answer.flags")(ng-class="{'panel-success': flag.addressed, 'panel-danger': !flag.addressed}")
            div.panel-heading(
            role="tab"
            id="heading{{$index}}")
                h4.panel-title
                    div(
                    style="text-align: left;"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapse{{$index}}"
                    aria-expanded="false"
                    aria-controls="collapse{{$index}}")
                        b Flag {{$index+1}} - {{flag.author_name}} (
                        b {{flag.role}}
                        b ):
                        em  {{flag.date | date:'MM/dd/yyyy'}}
            div(
            id="collapse{{$index}}"
            class="panel-collapse collapse in"
            role="tabpanel"
            aria-labelledby="heading{{$index}}")
                div.panel-body
                    .row.left-padding-lg
                        label Addressed?
                            input(type="checkbox" ng-model="flag.addressed")

                    .row.left-padding-lg.right-padding-lg
                        text {{flag.content}}
                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit