.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment

                a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                href="assessments/assessment-edit/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
                ng-if="assessment.question_length!==answer.question_order")
                glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                ng-if="assessment.question_length===answer.question_order"
                disabled)

                glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                ng-click="moveForward()"
                ng-if="answer.question_order!==assessment.question_length")
                glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                ng-if="answer.question_order===assessment.question_length"
                disabled)

                //TODO prototype for glyphicons showing answer status
                //glyphicon.text-success.glyphicon.glyphicon-ok-sign.pull-right.right-padding-lg(ng-if="answer.status==='submitted'")
                //glyphicon.text-danger.glyphicon.glyphicon-flag.pull-right.right-padding-lg(ng-if="answer.status==='flagged'")
                //glyphicon.text-info.glyphicon.glyphicon-floppy-saved.pull-right(ng-if="answer.status==='saved'")
                //text.pull-right.right-padding-lg(ng-if="answer.status!=='saved' && answer.status!=='submitted' && answer.status!=='flagged'") none
                //text.pull-right.right-padding-lg Status:

                glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
                ng-click="moveBackward()"
                ng-if="answer.question_order!==1")
                glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="answer.question_order===1")

                a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                href="assessments/assessment-edit/{{assessment.assessment_ID}}-001"
                ng-if="answer.question_order!==1")
                glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                ng-if="answer.question_order===1"
                disabled)
            .row.left-padding-lg.bottom-padding-med
                h3
                    em Question {{answer.question_order}}. {{answer.question_text}}
                div(ng-if="current_user.role === 'researcher'")
                    div
                        h5 Previous score:
                        em(ng-if="!answer.researcher_score") Not submitted
                        strong(
                        ng-if="answer.researcher_score"
                        ng-init="i = answer.researcher_score") {{answer.researcher_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.researcher_score")
                        h5 Previous justification:
                        em {{answer.researcher_justification}}
                    div
                        h5 Reviewer score:
                        em(ng-if="!answer.reviewer_score") Not submitted
                        strong(
                        ng-if="answer.reviewer_score"
                        ng-init="i = answer.reviewer_score") {{answer.reviewer_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.reviewer_score")
                        h5 Reviewer justification:
                        em {{answer.reviewer_justification}}

                div(ng-if="current_user.role === 'reviewer'")
                    div
                        h5 Previous score:
                        em(ng-if="!answer.reviewer_score") Not submitted
                        strong(
                        ng-if="answer.reviewer_score"
                        ng-init="i = answer.reviewer_score") {{answer.reviewer_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.reviewer_score")
                        h5 Reviewer justification:
                        em {{answer.reviewer_justification}}
                    div
                        h5 Researcher score:
                        em(ng-if="!answer.researcher_score") Not submitted
                        strong(
                        ng-if="answer.researcher_score"
                        ng-init="i = answer.researcher_score") {{answer.researcher_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.researcher_score")
                        h5 Researcher justification:
                        em {{answer.researcher_justification}}

            //- Active buttons
            .row.left-padding-lg.bottom-padding-lg
                .col-md-pull-2
                    button.btn.btn-primary(
                    ng-click="answerSave()"
                    ng-disabled="answer_form.$invalid || assessment.edit_control!==current_user._id"
                    ) Save answer
                    | &nbsp;
                    button.btn.btn-success(
                    ng-click="answerSubmit()"
                    ng-if="!answer_justification_form.$invalid && answer[current_user.role + '_score'] && assessment.edit_control===current_user._id"
                    ) Submit answer
                    | &nbsp;
                    button.btn.btn-danger(
                    ng-click="answerClear()"
                    ng-disabled="assessment.edit_control!==current_user._id"
                    ) Clear answer
                    | &nbsp;
                    a.btn.btn-default(href="/assessments/{{answer.assessment_ID}}") Return to assessment menu

            .row.left-padding-lg.right-padding-lg
                .form-horizontal(name="answer_form")
                    fieldset
                        div(id="answer_choice_div").bottom-padding-med
                            legend Choose one of the following answers (required):
                            ng-form(name="answer_choice_form")
                                .form-group.left-padding-lg(ng-repeat="choice in question.question_choices" required)
                                    input(
                                    type="radio"
                                    name="choice.choice_name"
                                    value="{{choice.order}}"
                                    checked=""
                                    ng-model="answer[current_user.role + '_score']"
                                    ng-disabled="assessment.edit_control!==current_user._id")
                                    text.left-padding-med {{choice.criteria}}
                        div(id="answer_justification_div").bottom-padding-med
                            ng-form(name="answer_justification_form")
                                .form-group.top-padding-med
                                    .row.left-padding-lg
                                        .col-md-11
                                            textarea.form-control(
                                            name="justification"
                                            type="text"
                                            ng-model="answer[current_user.role + '_justification']"
                                            placeholder="Please provide your justification... (required)"
                                            required
                                            ng-disabled="assessment.edit_control!==current_user._id")
            div(id="comments_div").bottom-padding-med
                legend Comments:

                div(id="prev_comments_div" ng-if="answer.comments.length!==0")
                    .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
                        .row
                            b {{comment.author_name}} (
                            b {{comment.role}}
                            b ):
                        .row.col-md-11 {{comment.content}}
                        .row.col-md-offset-9.col-md-3
                            date
                                small
                                    em {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
                br
                div(id="new_comment_div").bottom-padding-med
                    ng-form(name="new_comment_form")
                        .form-group.top-padding-med
                            .row.left-padding-lg
                                .col-md-10
                                    textarea.form-control(
                                    name="comment"
                                    type="text"
                                    ng-model="answer.new_comment"
                                    placeholder="New comment..."
                                    required)
                                .col-md-1
                                    button.btn.btn-success(
                                    ng-click="commentSubmit(current_user)"
                                    ng-disabled="new_comment_form.$invalid"
                                    ) Submit comment

            div(id="biblio_div").bottom-padding-med
                legend References:
                .row
                    .col-md-5.pull-left.top-padding-med
                        select.form-group.form-control.pull-left(ng-model="ref_selection" ng-change="select_ref_dialog()")
                            option(value="" selected disabled) Select action
                            option(ng-repeat="ref in ref_type" value="{{ref.value}}") {{ref.text}}

                    .col-md-1.pull-left(ng-if="ref_selection==='document'")
                        div.fileUpload.btn.btn-default
                            span Select File
                            input.upload(type="file" nv-file-select uploader="uploader")

                //- DOCUMENT UPLOAD
                .row.left-padding-lg.right-padding-lg(ng-if="uploader.queue.length>0")
                    //h3 Upload queue
                    //p Queue length: {{ uploader.queue.length }}
                    table.table
                        thead
                            tr
                                th(width="50%") Name
                                th(ng-show="uploader.isHTML5") Size
                                th(ng-show="uploader.isHTML5") Progress
                                th Status
                                th Actions
                        tbody
                            tr(ng-repeat="item in uploader.queue")
                                td
                                    strong(ng-if="!new_document") {{ item.file.name }}
                                    strong
                                        a(ng-if="new_document" href="{{new_document.s3_url}}" target="_blank") {{ item.file.name }}
                                td(ng-show="uploader.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                                td(ng-show="uploader.isHTML5")
                                    div.progress(style="margin-bottom: 0;")
                                        div.progress-bar(role="progressbar" ng-style="{ 'width': item.progress + '%' }")
                                td.text-center
                                    span(ng-show="item.isSuccess")
                                        i.glyphicon.glyphicon-ok
                                    span(ng-show="item.isCancel")
                                        i.glyphicon.glyphicon-ban-circle
                                    span(ng-show="item.isError")
                                        i.glyphicon.glyphicon-remove
                                td(nowrap)
                                    button.btn.btn-success.btn-xs(type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                        span.glyphicon.glyphicon-upload Upload
                                    | &nbsp;
                                    button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="!item.isUploading")
                                        span.glyphicon.glyphicon-ban-circle Cancel
                                    | &nbsp;
                                    button.btn.btn-danger.btn-xs(ng-click="item.remove()")
                                        span.glyphicon.glyphicon-trash Remove
                //- ADD WEBSITE
                .row.bottom-padding-med(ng-if="ref_selection==='web'" id="new_web_form")
                    ng-form.form-horizontal(name="new_web_form")
                        fieldset
                            .row.form-group.pull-left.left-padding-lg.col-lg-6
                                input.form-control(
                                name="title"
                                type="text"
                                placeholder="Website title (required)..."
                                ng-model="answer.web_ref_title"
                                required)
                            .row.form-group.pull-right.left-padding-lg.col-lg-6
                                input.form-control(
                                name="url"
                                type="text"
                                placeholder="Website URL (required)..."
                                ng-model="answer.web_ref_url"
                                required)
                            .row.form-group.pull-right.col-lg-12
                                textarea.form-control(
                                name="comment"
                                type="text"
                                placeholder="Comments..."
                                ng-model="answer.web_ref_comment")

                    .col-md-1.pull-left.top-padding-med.left-padding-lg(ng-if="ref_selection==='web'")
                        button.btn.btn-success(
                        ng-click="webRefSubmit(current_user)"
                        ng-disabled="new_web_form.$invalid"
                        ) Create reference

                //- ADD HUMAN
                h4 Interview:
                .row.bottom-padding-med(ng-if="ref_selection==='human'" id="new_human_form")
                    ng-form.form-horizontal.left-padding-lg.right-padding-lg(name="new_human_form")
                        fieldset
                            div.row.left-padding-lg
                                .form-group.left-padding-lg.col-md-4
                                    label First name:
                                    input.form-control(
                                    name="first_name"
                                    type="text"
                                    placeholder="First name (required)..."
                                    ng-model="answer.human_ref_first_name"
                                    required)
                                .form-group.left-padding-lg.col-md-4
                                    label Last name:
                                    input.form-control(
                                    name="last_name"
                                    type="text"
                                    placeholder="Last name (required)..."
                                    ng-model="answer.human_ref_last_name"
                                    required)
                            div.row.left-padding-lg
                                .form-group.left-padding-lg.col-md-4
                                    label Email address:
                                    input.form-control(
                                    name="email"
                                    type="text"
                                    placeholder="Email address (required)..."
                                    ng-model="answer.human_ref_email"
                                    required)
                                .form-group.left-padding-lg.col-md-4
                                    label Phone number:
                                    input.form-control(
                                    name="phone"
                                    type="text"
                                    placeholder="Phone number (required)..."
                                    ng-model="answer.human_ref_phone"
                                    required)

                            div.row.left-padding-lg
                                .form-group.left-padding-lg.col-md-4
                                    label Date contacted:
                                    datepicker(
                                    date-format="{{date_format}}")
                                        input.form-control(ng-model="answer.human_ref_contact_date" type="text")

                            .row.form-group.pull-right.col-lg-12
                                textarea.form-control(
                                name="comment"
                                type="text"
                                placeholder="Comments..."
                                ng-model="answer.human_ref_comment")

                    .col-md-1.pull-left.top-padding-med.left-padding-lg(ng-if="ref_selection==='human'")
                        button.btn.btn-success(
                        ng-click="humanRefSubmit(current_user)"
                        ng-disabled="new_human_form.$invalid"
                        ) Create reference

                //- BILBLIO LIST
                div(id="prev_bib")
                    .row.left-padding-lg
                        label Citations
                        .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
                            .row Author(s):
                                text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                                    text(ng-if="!$last") ;
                                text(ng-if="ref.author.length === 0")  N/A
                            .row Title: {{ref.title}} (
                                a(href="{{ref.s3_url}}" target="_blank") View here
                                text )
                            .row Published:
                                text(ng-if="ref.year")  {{ref.year}}
                                text(ng-if="!ref.year")  N/A
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
                            .row Commnets:
                                text(ng-if="ref.comment.content")  {{ref.comment.content}}
                                text(ng-if="!ref.comment.content")  N/A
                            //br

                    .row.left-padding-lg
                        label Websites
                        .row.left-padding-lg(ng-repeat="ref in answer.references.web")
                            .row Website: {{ref.title}} (
                                a(href="{{ref.URL}}" target="_blank") View here
                                text )
                            .row Accessed: {{rev.access_date}}
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                            .row Comments: {{ref.comment.content}}
                            br
                    .row.left-padding-lg
                        label Humans
                        .row.left-padding-lg(ng-repeat="ref in answer.references.human")
                            .row Contact: {{ref.first_name}} {{ref.last_name}}
                            .row Interviewed: {{ref.contact_date | date:'MM/dd/yyyy'}}
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                            .row Comments: {{ref.comment.content}}
                            br
