.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment view
                include ../../directives/rgi-answer-nav

            .row.left-padding-lg.bottom-padding-med
                h3: em Question {{answer.question_order}}. {{answer.question_text}}
                include ../../modules/prev_answers.jade

        .row.left-padding-lg.bottom-padding-lg
            .col-md-pull-2.left-padding-lg
                //TODO figure out if we want editing of non-flagged questions
                //a.btn.btn-default(href="/assessments/assessment-edit/{{answer.answer_ID}}" ng-if="assessment.edit_control===current_user._id") Edit answer
                //| &nbsp;
                a.btn.btn-default(href="/assessments-review/{{answer.assessment_ID}}") Return to assessment menu

        .row.left-padding-lg.right-padding-lg(ng-if="answer.flags.length!==0")
            div(id="flags_div").bottom-padding-med
                legend Flags:
                div.panel-group(
                id="prev_flags_div"
                role="tablist"
                aria-multiselectable="true")
                    div.panel(ng-repeat="flag in answer.flags")
                        .panel-success(ng-if="flag.addressed===true")
                            div.panel-heading(
                            role="tab"
                            id="heading{{$index}}")
                                h4.panel-title
                                    a.btn.btn-block.button.button-success(
                                    style="text-align: left;"
                                    role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapse{{$index}}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{$index}}")
                                        b Flag {{$index+1}} - {{flag.author_name}} (
                                        b {{flag.role}}
                                        b ):
                                        em  {{flag.date | date:'MM/dd/yyyy'}}
                            div(
                            id="collapse{{$index}}"
                            class="panel-collapse collapse in"
                            role="tabpanel"
                            aria-labelledby="heading{{$index}}")
                                div.panel-body
                                    .row.left-padding-lg
                                        text Addressed?
                                        text
                                        input(
                                        type="checkbox"
                                        ng-model="flag.addressed"
                                        disabled)
                                    .row.left-padding-lg.right-padding-lg
                                        text {{flag.content}}
                                    .row {{flag}}
                                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
                        .panel-danger(ng-if="flag.addressed===false")
                            div.panel-heading(
                            role="tab"
                            id="heading{{$index}}")
                                h4.panel-title
                                    a.btn.btn-block.button.button-success(
                                    style="text-align: left;"
                                    role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapse{{$index}}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{$index}}")
                                        b Flag {{$index+1}} - {{flag.author_name}} (
                                        b {{flag.role}}
                                        b ):
                                        em  {{flag.date | date:'MM/dd/yyyy'}}
                            div(
                            id="collapse{{$index}}"
                            class="panel-collapse collapse in"
                            role="tabpanel"
                            aria-labelledby="heading{{$index}}")
                                div.panel-body
                                    .row.left-padding-lg
                                        text Addressed?
                                        text
                                        input(type="checkbox" ng-model="flag.addressed")
                                    .row.left-padding-lg.right-padding-lg
                                        text {{flag.content}}
                                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
        .row.left-padding-lg.right-padding-lg
            .form-horizontal(name="answer_form")
                fieldset
                    include ../../modules/comment_module


                    //- BILBLIO LIST
                    div(id="prev_bib")
                        .row.left-padding-lg
                            label Citations
                            .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
                                .row Author(s):
                                    text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                                        text(ng-if="!$last") ;
                                    text(ng-if="ref.author.length === 0")  N/A
                                .row Title: {{ref.title}} (
                                    a(href="{{ref.s3_url}}" target="_blank") View here
                                    text )
                                .row Published:
                                    text(ng-if="ref.year")  {{ref.year}}
                                    text(ng-if="!ref.year")  N/A
                                .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
                                .row Commnets:
                                    text(ng-if="ref.comment.content")  {{ref.comment.content}}
                                    text(ng-if="!ref.comment.content")  N/A
                                //br

                        .row.left-padding-lg
                            label Websites
                            .row.left-padding-lg(ng-repeat="ref in answer.references.web")
                                .row Website: {{ref.title}} (
                                    a(href="{{ref.URL}}" target="_blank") View here
                                    text )
                                .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                                .row Comments: {{ref.comment.content}}
                                br
                        .row.left-padding-lg
                            label Humans
                            .row.left-padding-lg(ng-repeat="ref in answer.references.human")
                                .row Contact: {{ref.first_name}} {{ref.last_name}}
                                .row Contacted: {{ref.contact_date | date:'MM/dd/yyyy'}}
                                .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                                .row Comments: {{ref.comment.content}}
                                br

