.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment

                //CONTROLS FOR ASSESSMENT NAVIGATION
                a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                href="assessments/assessment-edit/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
                ng-if="assessment.question_length!==answer.question_order")
                glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                ng-if="assessment.question_length===answer.question_order"
                disabled)

                glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                ng-click="moveForward()"
                ng-if="answer.question_order!==assessment.question_length")
                glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                ng-if="answer.question_order===assessment.question_length"
                disabled)

                glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
                ng-click="moveBackward()"
                ng-if="answer.question_order!==1")
                glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="answer.question_order===1")

                a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                href="assessments/assessment-edit/{{assessment.assessment_ID}}-001"
                ng-if="answer.question_order!==1")
                glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                ng-if="answer.question_order===1"
                disabled)
            .row.left-padding-lg.bottom-padding-med
                h3
                    em Question {{answer.question_order}}. {{answer.question_text}}
                div(ng-if="current_user.role === 'researcher'")
                    div
                        h5 Previous score:
                        em(ng-if="!answer.researcher_score") Not submitted
                        strong(
                        ng-if="answer.researcher_score"
                        ng-init="i = answer.researcher_score") {{answer.researcher_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.researcher_score")
                        h5 Previous justification:
                        em {{answer.researcher_justification}}
                    div
                        h5 Reviewer score:
                        em(ng-if="!answer.reviewer_score") Not submitted
                        strong(
                        ng-if="answer.reviewer_score"
                        ng-init="i = answer.reviewer_score") {{answer.reviewer_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.reviewer_score")
                        h5 Reviewer justification:
                        em {{answer.reviewer_justification}}

                div(ng-if="current_user.role === 'reviewer'")
                    div
                        h5 Previous score:
                        em(ng-if="!answer.reviewer_score") Not submitted
                        strong(
                        ng-if="answer.reviewer_score"
                        ng-init="i = answer.reviewer_score") {{answer.reviewer_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.reviewer_score")
                        h5 Reviewer justification:
                        em {{answer.reviewer_justification}}
                    div
                        h5 Researcher score:
                        em(ng-if="!answer.researcher_score") Not submitted
                        strong(
                        ng-if="answer.researcher_score"
                        ng-init="i = answer.researcher_score") {{answer.researcher_score}} - {{question.question_choices[i-1].criteria}}
                    div(ng-if="answer.researcher_score")
                        h5 Researcher justification:
                        em {{answer.researcher_justification}}

            //- Active buttons
            .row.left-padding-lg.bottom-padding-lg
                .col-md-pull-2
                    button.btn.btn-primary(
                    ng-click="answerSave()"
                    ng-disabled="answer_form.$invalid || assessment.edit_control!==current_user._id"
                    ) Save answer
                    | &nbsp;
                    button.btn.btn-success(
                    ng-click="answerSubmit()"
                    ng-if="!answer_justification_form.$invalid && answer[current_user.role + '_score'] && assessment.edit_control===current_user._id"
                    ) Submit answer
                    | &nbsp;
                    button.btn.btn-danger(
                    ng-click="answerClear()"
                    ng-disabled="assessment.edit_control!==current_user._id"
                    ) Clear answer
                    | &nbsp;
                    a.btn.btn-default(href="/assessments/{{answer.assessment_ID}}") Return to assessment menu

            .row.left-padding-lg.right-padding-lg
                .form-horizontal(name="answer_form")
                    fieldset
                        div(id="answer_choice_div").bottom-padding-med
                            legend Choose one of the following answers (required):
                            ng-form(name="answer_choice_form")
                                .form-group.left-padding-lg(ng-repeat="choice in question.question_choices" required)
                                    input(
                                    type="radio"
                                    name="choice.choice_name"
                                    value="{{choice.order}}"
                                    checked=""
                                    ng-model="answer[current_user.role + '_score']"
                                    ng-disabled="assessment.edit_control!==current_user._id")
                                    text.left-padding-med {{choice.criteria}}
                        div(id="answer_justification_div").bottom-padding-med
                            ng-form(name="answer_justification_form")
                                .form-group.top-padding-med
                                    .row.left-padding-lg
                                        .col-md-11
                                            textarea.form-control(
                                            name="justification"
                                            type="text"
                                            ng-model="answer[current_user.role + '_justification']"
                                            placeholder="Please provide your justification... (required)"
                                            required
                                            ng-disabled="assessment.edit_control!==current_user._id")
            div(id="comments_div").bottom-padding-med
                legend Comments:

                div(id="prev_comments_div" ng-if="answer.comments.length!==0")
                    .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
                        .row
                            b {{comment.author_name}} (
                            b {{comment.role}}
                            b ):
                        .row
                            date
                                small
                                    em  {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
                        .row.col-md-11 {{comment.content}}
                        .row.pull-right.right-padding-lg(ng-if="comment.author === current_user._id")
                            button.btn.btn-primary(ng-click="commentEdit(comment, $index)") Edit
                br
                div(id="new_comment_div").bottom-padding-med
                    ng-form(name="new_comment_form")
                        .form-group.top-padding-med
                            .row.left-padding-lg
                                .col-md-10
                                    textarea.form-control(
                                    name="comment"
                                    type="text"
                                    ng-model="answer.new_comment"
                                    placeholder="New comment..."
                                    required)
                                .col-md-1
                                    button.btn.btn-success(
                                    ng-click="commentSubmit(current_user)"
                                    ng-disabled="new_comment_form.$invalid"
                                    ) Submit comment

            div(id="biblio_div").bottom-padding-med
                legend References:
                .row
                    .col-md-5.pull-left.top-padding-med
                        select.form-group.form-control.pull-left(ng-model="ref_selection" ng-change="select_ref_dialog()")
                            option(value="" selected disabled) Select action
                            option(ng-repeat="ref in ref_type" value="{{ref.value}}") {{ref.text}}

                //- BILBLIO LIST
                div(id="prev_bib")
                    .row.left-padding-lg
                        h4 Citations
                        .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
                            .row
                                b Author(s):
                                text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                                    text(ng-if="!$last") ;
                                text(ng-if="ref.author.length === 0")  N/A
                            .row
                                b Type:
                                text  {{ref.type}}
                            .row(ng-if="ref.type !== 'web_page'")
                                b Title:
                                text  {{ref.title}} (
                                a(href="{{ref.s3_url}}" target="_blank") View here
                                text )
                            .row(ng-if="ref.type === 'web_page'")
                                b Title:
                                a(href="{{ref.source}}" target="_blank")  {{ref.title}}
                            .row
                                b Published:
                                text(ng-if="ref.year")  {{ref.year}}
                                text(ng-if="!ref.year")  N/A
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
                            .row Accessed on {{ref.comment.date_accessed | date: 'MM/dd/yyyy'}}
                            .row
                                b Comments:
                                text(ng-if="ref.comment")  {{ref.comment.comment}}
                                text(ng-if="!ref.comment")  N/A
                            //br

                    .row.left-padding-lg
                        h4 Interviews
                        .row.left-padding-lg(ng-repeat="ref in answer.references.human")
                            .row Contact: {{ref.first_name}} {{ref.last_name}}
                            .row Interviewed: {{ref.contact_date | date:'MM/dd/yyyy'}}
                            .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                            .row Comments: {{ref.comment.content}}
                            br
