.left-padding-lg.right-padding-lg
    .modal-header
        h3 Edit User
    .modal-body
        form.form-horizontal(name='profileForm')
            //USER EDIT
            fieldset
                .row
                    .col-lg-5
                        .form-group
                            label.control-label
                                small First name:
                            input.form-control(
                            name="first_name"
                            type="text"
                            placeholder="First name..."
                            ng-model="new_user_data.firstName"
                            ng-pattern="humanNamePattern"
                            required
                            autocomplete="off")
                    .col-lg-2
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Last name:
                            input.form-control(
                            name="last_name"
                            type="text"
                            placeholder="Last name..."
                            ng-model="new_user_data.lastName"
                            ng-pattern="humanNamePattern"
                            required
                            autocomplete="off")
                .row
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Username:
                            input.form-control(
                            name="username"
                            type="text"
                            value="{{::new_user_data.username}}"
                            disabled)
                    .col-lg-2
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Email:
                            input.form-control(
                            name="email"
                            type="email"
                            placeholder="Email..."
                            ng-model="new_user_data.email"
                            required
                            autocomplete="off")
                .row
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Address:
                            input.form-control(
                            name="address"
                            type="text"
                            placeholder="Address..."
                            ng-model="new_user_data.address"
                            autocomplete="off")
                    .col-lg-2
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Role:
                            select.form-control(ng-model="new_user_data.role" ng-options="role as (role|role|ucfirst) for role in roles")
                .row
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Password:
                            input.form-control(
                            name="password"
                            type="password"
                            placeholder="New password..."
                            ng-pattern="passwordPattern"
                            ng-change="checkPasswordsMatch(false)"
                            ng-keyup="checkPassword()"
                            ng-paste="checkPassword()"
                            ng-model="password"
                            autocomplete="off")
                    .col-lg-2
                    .col-lg-5
                        .form-group
                            label.control-label
                                small Repeat Password:
                            input.form-control(
                            name="password_rep"
                            type="password"
                            ng-change="checkPasswordsMatch(true)"
                            ng-disabled="profileForm.password.$invalid || (password === undefined) || (password.length === 0)"
                            placeholder="Repeat password..."
                            ng-model="password_rep"
                            autocomplete="off")
    .modal-footer
        .col-lg-6
            button.btn.btn-block.btn-success(ng-click="update()", ng-disabled="profileForm.$invalid") Save
        .col-lg-6
            button.btn.btn-block.btn-danger(ng-click="closeThisDialog()") Cancel