.left-padding-lg.right-padding-lg
    .modal-header
        h3 Assign Assessment to External Reviewer
    .modal-body
        fieldset
            .row(ng-repeat="reviewer in assessment.ext_reviewer_ID")
                h4.col-md-4  External reviewer {{$index+1}}
                .form-group.col-md-5.nullable
                    select.form-group.form-control.right-padding-med(
                    name="reviewer_selector"
                    ng-model="assessment.ext_reviewer_ID[$index]"
                    ng-options="r._id as (r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in getFilteredAvailableUsers(assessment.ext_reviewer_ID[$index])"
                    required)
                        option(value="" selected disabled) Select external reviewer...
                .col-md-1
                    button.btn.btn-danger(ng-click="removeAssignee($index)", ng-disabled="assessment.ext_reviewer_ID.length == 1") Delete
    .modal-footer
        button.btn.btn-success(ng-click="saveAssigneeList()", ng-disabled="isAssigneeListEmpty() || !isAssigneeListModified()") Assign external reviewer(s)
        | &nbsp;
        button.btn.btn-warning(
        ng-click="addAssignee()"
        ng-disabled="assessment.ext_reviewer_ID.length < 1 || !assessment.ext_reviewer_ID[assessment.ext_reviewer_ID.length - 1] || !isNewAssigneeAvailable()") Add external reviewer
        | &nbsp;
        button.btn.btn-danger(ng-click="closeThisDialog()") Cancel