.left-padding-lg.right-padding-lg
    .modal-header
        h3 Assign Assessment
    .modal-body
        fieldset
            .row(ng-if="assessment.status === 'unassigned'")
                strong Instructions:
                em  You must assign the assessment to a researcher. You can assign to a reviewer at a later data if need be.
            .row.top-padding-med
                label.col-md-4  Researcher
                .form-group.col-md-8
                    select.form-group.form-control(
                    ng-model="assessment.researcher_ID"
                    ng-options="r._id as (r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in researchers"
                    required)
                        option(value="" selected disabled) Select researcher (required)...
                label.col-md-4  Reviewer
                .form-group.col-md-8
                    select.form-group.form-control(
                    ng-model="assessment.reviewer_ID"
                    ng-options="r._id as (r.firstName + ' ' + r.lastName + ': number of assigned assessments - ' + r.assessments.length) for r in reviewers"
                    required)
                        option(value="" selected disabled) Select reviewer...
            .modal-footer(ng-if="assessment.status==='unassigned'")
                button.btn.btn-success(
                ng-click="assessment.status === 'unassigned' ? assessmentAssign() : reassignAssessment()"
                ng-disabled="assignAssessment.$invalid || ((assessment.status !== 'unassigned') && !isAnyAssessmentRoleChanged())")
                    span(ng-if="assessment.status === 'unassigned'") Assign users to assessment
                    span(ng-if="assessment.status !== 'unassigned'") Reassign users to assessment
                | &nbsp;
                button.btn.btn-danger(ng-click="closeDialog()") Cancel