div
    .modal-header
        h3 New assessment deployment
    .modal-body
        .form-horizontal(ng-if="disable_button===false")
            form.form-horizontal(name="deployAssessmentForm")
                fieldset
                    .row
                        h4.col-md-4  Year
                        .form-group.col-md-5
                            select.form-group.form-control.right-padding-med(
                                name="year" ng-model="new_assessment.year" required
                                ng-options="year as year for year in years"
                            )
                                option(value="" selected disabled) Select year

                    .row
                        h4.col-md-4  Version
                        .form-group.col-md-5
                            select.form-group.form-control.right-padding-med(
                                name="version" ng-model="new_assessment.version" required
                                ng-options="version as (version | ucfirst) for version in sectors"
                            )
                                option(value="" selected disabled) Select version

                    .row(ng-if="new_assessment.version == 'mining'")
                        h4.col-md-4 Mineral
                        .form-group.col-md-5
                            select.form-group.form-control.right-padding-med(
                                ng-model="new_assessment.mineral", name="mineral",
                                ng-required="new_assessment.version == 'mining'",
                                ng-options="mineral as mineral for mineral in getAvailableMinerals()"
                            )
                                option(value="" selected disabled) Select mineral

                    .row(ng-repeat="country in new_assessment.assessment_countries")
                        h4.col-md-4  Country {{$index+1}}
                        .form-group.col-md-5.nullable
                            select.form-group.form-control.right-padding-med(name="country_selector" ng-model="country.country" required ng-options="c.country for c in countries")                                                                                                                 option(value="" selected disabled) Select country
                        .col-md-1
                            button.btn.btn-danger(ng-click="deleteCountry($index)" ng-disabled="new_assessment.assessment_countries.length==1") Delete

        .spinner(ng-if="disable_button===true")
            .double-bounce1
            .double-bounce2

    .modal-footer
        button.btn.btn-success(
        ng-click="deployAssessment()"
        ng-disabled="deployAssessmentForm.$invalid || disable_button===true") Deploy new assessment
        | &nbsp;
        button.btn.btn-warning(
        ng-click="addCountry(new_assessment.assessment_countries[new_assessment.assessment_countries.length-1].country)"
        ng-disabled="!new_assessment.assessment_countries[new_assessment.assessment_countries.length-1].country || disable_button===true") Add country
        | &nbsp;
        button.btn.btn-danger(
        ng-click="closeThisDialog()"
        ng-disabled="disable_button === true") Cancel