div.top-padding-lg
    table.table.table-hover
        thead
            tr
                th.col-sm-1 Assessment
                th.col-sm-1(ng-if="current_user.isSupervisor()") Researcher
                th.col-sm-1(ng-if="current_user.isSupervisor()") Reviewer
                th.text-center.col-sm-1 Assigned
                th.text-center.col-sm-1 Started
                th.text-center.col-sm-1 Submitted
                th.text-center.col-sm-1 Reviewed
                th.text-center.col-sm-1 Approve
                th.text-center.col-sm-1 Last Edit
                th.col-sm-1 Status
                //th.col-md-1.text-center Questions Complete/Flagged
                th.col-md-1
                th.col-md-1
        tbody
            tr(ng-repeat="assessment in assessments | filter: search_text | orderBy:sort_order")
                //ASSESSMENT
                td.col-sm-2(ng-if="!current_user.isSupervisor()|| assessment.status==='unassigned'") {{assessment.year}} {{assessment.country}} {{assessment.version}}
                td.col-sm-2(ng-if="current_user.isSupervisor() && assessment.status!=='unassigned'")
                    a(
                    href="admin/assessments-admin/{{assessment.assessment_ID}}"
                    ng-if="current_user.isSupervisor()") {{assessment.year}} {{assessment.country}} {{assessment.version}}
                    a(
                    href="assessments/{{assessment.assessment_ID}}"
                    ng-if="!current_user.isSupervisor()") {{assessment.year}} {{assessment.country}} {{assessment.version}}
                //RESEARCHER
                td.col-sm-1(ng-if="assessment.researcher_ID && current_user.isSupervisor()")
                    span.glyphicon.glyphicon-pencil(ng-if="assessment.edit_control===assessment.researcher_ID._id")
                    a(href="mailto:{{assessment.researcher_ID.email}}")  {{assessment.researcher_ID.firstName}} {{assessment.researcher_ID.lastName}}
                td.col-sm-1(ng-if="!assessment.researcher_ID && current_user.isSupervisor()") Not assigned
                //REVIEWER
                td.col-sm-1(ng-if="assessment.reviewer_ID && current_user.isSupervisor()")
                    span.glyphicon.glyphicon-pencil(ng-if="assessment.edit_control===assessment.reviewer_ID._id")
                    a(href="mailto:{{assessment.reviewer_ID.email}}")  {{assessment.reviewer_ID.firstName}} {{assessment.reviewer_ID.lastName}}
                td.col-sm-1(ng-if="!assessment.reviewer_ID && current_user.isSupervisor()") Not assigned
                //ASSIGNED DATE
                td.col-sm-1
                    div.text-center
                        i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                        ng-if="assessment.assignment_date"
                        popover="{{assessment.assignment_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                        popover-trigger="mouseenter")
                        em(ng-if="!assessment.assignment_date") N/A
                // START DATE
                td.col-sm-1
                    div.text-center
                        // RESEARCHER START DATE
                        div(ng-if-"current_user.isResearcher() || current_user.isSupervisor()")
                            i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                            ng-if="assessment.researcher_start_date && (current_user.isResearcher() || current_user.isSupervisor())"
                            popover="Researcher: {{assessment.researcher_start_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                            popover-trigger="mouseenter")
                            em(ng-if="!assessment.researcher_start_date") N/A
                        // REVIEWER START DATE
                        div(ng-if="current_user.isReviewer() || current_user.isSupervisor()")
                            i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                            ng-if="assessment.reviewer_start_date && (current_user.isReviewer() || current_user.isSupervisor())"
                            popover="Reviewer: {{assessment.reviewer_start_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                            popover-trigger="mouseenter")
                            em(ng-if="!assessment.reviewer_start_date") N/A

                //SUBMITTED DATE
                td.col-sm-1
                    div.text-center
                        // RESEARCHER SUBMITTED DATE
                        div(ng-if-"current_user.isResearcher() || current_user.isSupervisor()")
                            i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                            ng-if="assessment.researcher_submit_date && (current_user.isResearcher() || current_user.isSupervisor())"
                            popover="Researcher: {{assessment.researcher_submit_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                            popover-trigger="mouseenter")
                            em(ng-if="!assessment.researcher_submit_date") N/A
                        // REVIEWER SUBMITTED DATE
                        div(ng-if="current_user.isReviewer() || current_user.isSupervisor()")
                            i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                            ng-if="assessment.reviewer_submit_date && (current_user.isReviewer() || current_user.isSupervisor())"
                            popover="Reviewer: {{assessment.reviewer_submit_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                            popover-trigger="mouseenter")
                            em(ng-if="!assessment.reviewer_submit_date") N/A
                //REVIEWED DATE
                td.col-sm-1
                    div.text-center
                        i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                        ng-if="assessment.last_review_date"
                        popover="{{assessment.last_review_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                        popover-trigger="mouseenter")
                        em(ng-if="!assessment.last_review_date") N/A
                //APPROVED DATE
                td.col-sm-1
                    div.text-center
                        i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                        ng-if="assessment.approval_date"
                        popover="{{assessment.approval_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                        popover-trigger="mouseenter")
                        em(ng-if="!assessment.approval_date") N/A
                //LAST EDIT
                td.col-sm-1(ng-if="assessment.last_modified")
                    a(
                    href="mailto:{{assessment.last_modified.user.email}}"
                    ng-if="current_user.isSupervisor()") {{assessment.last_modified.user.lastName}}
                    text(ng-if="!current_user.isSupervisor()") {{assessment.last_modified.user.role | ucfirst}}
                    | &nbsp;-&nbsp;
                    i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                    ng-if="assessment.last_modified"
                    popover="{{assessment.last_modified.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                    popover-trigger="mouseenter")
                td.col-sm-1(ng-if="!assessment.last_modified")
                //STATUS
                td.col-sm-1 {{assessment.status | addSpaces | ucfirst}}
                ////QUESTIONS COMPLETE
                //td.col-md-1(ng-if="assessment.questions_complete !== assessment.question_length || assessment.status === 'submitted' || assessment.questions_flagged !== 0") {{assessment.status | ucfirst}}
                //td.col-md-1(ng-if="assessment.status !== 'submitted' && assessment.questions_complete === assessment.question_length && assessment.questions_flagged === 0") Ready to submit
                //QUESTIONS FLAGGED
                //td.text-center.col-md-1
                //    text(ng-if="assessment.status!=='assigned' && assessment.status!=='submitted'") {{assessment.questions_complete}}
                //    text(ng-if="assessment.status==='assigned' || assessment.status==='submitted'")
                //td.text-center.col-md-1
                //    text(ng-if="assessment.status!=='assigned' && assessment.status!=='submitted'") {{assessment.questions_flagged}}
                //    text(ng-if="assessment.status==='assigned' || assessment.status==='submitted'")
                //CONTROL BUTTON 1 -ADMIN
                td.col-sm-1(ng-if="current_user.isSupervisor()")
                    button.btn.btn-col.center-block.btn-primary(
                    ng-click="assignAssessmentDialog(assessment)"
                    ng-if="assessment.status=='unassigned'"
                    ) Assign
                    //TODO add reassign assessment dialog
                    button.btn.btn-col.center-block.btn-warning(
                    ng-click="reassignAssessmentDialog(assessment)"
                    ng-if="assessment.status!='unassigned'") Reassign
                //CONTROL BUTTON 1 -ADMIN
                td.col-sm-1(ng-if="current_user.isSupervisor()")
                    button.btn.btn-col.center-block.btn-primary(
                    ng-disabled="assessment.status==='unassigned'"
                    ng-click="assignAssessmentExternalDialog(assessment)") Assign external
                //CONTROL BUTTON 2 - ADMIN
                td.col-sm-1(ng-if="current_user.isSupervisor()")
                    button.btn.btn-col.btn-primary(
                    ng-click="assessmentStartReview(assessment.assessment_ID)"
                    ng-if="assessment.status === 'submitted'"
                    ) Start Review
                    a.btn.btn-col.center-block.btn-primary(
                    href="/admin/assessments-admin/{{assessment.assessment_ID}}"
                    ng-if="['trial_submitted', 'under_review', 'resubmitted'].indexOf(assessment.status) > -1"
                    ) Continue review
                    a.btn.btn-col.center-block.btn-primary(
                    href="/admin/assessment-review/{{assessment.assessment_ID}}"
                    ng-if="assessment.status=='approved'"
                    ) Send to external
                    a.btn.center-block.btn-default.disabled(
                    href=""
                    ng-if="['review_researcher', 'review_reviewer'].indexOf(assessment.status) > -1"
                    ) Under review
                    a.btn.center-block.btn-default.disabled(
                    href=""
                    ng-if="['unassigned', 'submitted', 'resubmitted', 'trial_submitted', 'under_review', 'review_researcher', 'review_reviewer', 'approved'].indexOf(assessment.status) < 0"
                    ) Waiting
                //CONTROL BUTTON 1 -USER
                td.col-sm-1(ng-if="current_user.isResearcher() || current_user.isReviewer()")
                    //start trial button
                    button.btn.btn-col.btn-success(
                    ng-if="assessment.edit_control===current_user._id && ['trial', 'researcher_trial', 'reviewer_trial'].indexOf(assessment.status) > -1"
                    ng-click="assessmentTrial(assessment)") Start trial
                    //- researcher start button
                    button.btn.btn-col.btn-success(
                    ng-if="((assessment.edit_control === current_user._id) || current_user.isExternalReviewer()) && ['assigned', 'assigned_reviewer', 'assigned_researcher'].indexOf(assessment.status) > -1"
                    ng-click="assessmentStart(assessment)")
                        text(ng-if="current_user.isResearcher()") Start assessment
                        text(ng-if="['reviewer', 'ext_reviewer'].indexOf(current_user.role) !== -1") Start review

                    //- review answers sent back button
                    a.btn.btn-col.center-block.btn-warning(
                    ng-if="((assessment.edit_control === current_user._id) || current_user.isExternalReviewer()) && ['review_researcher', 'review_reviewer'].indexOf(assessment.status) > -1"
                    href="/assessments/{{assessment.assessment_ID}}") Review answers

                    //- disabled for admin review
                    a.btn.btn-col.center-block.btn-default(
                    ng-if="assessment.edit_control===current_user._id && ['trial_submitted', 'submitted', 'resubmitted', 'under_review'].indexOf(assessment.status) > -1"
                    href="/assessments/{{assessment.assessment_ID}}"
                    disabled) Under Admin review

                    a.btn.btn-col.center-block.btn-primary(
                    ng-if="assessment.edit_control===current_user._id && ['trial_started', 'researcher_started', 'reviewer_started'].indexOf(assessment.status) > -1"
                    href="/assessments/{{assessment.assessment_ID}}") Open assessment

                    a.btn.btn-col.center-block.btn-default(
                    ng-if="assessment.edit_control!==current_user._id"
                    href="/assessments/{{assessment.assessment_ID}}") See answers

                td.col-sm-1(ng-if="current_user.isExternalReviewer()")
                    a.btn.btn-col.center-block.btn-primary(
                    ng-if="(assessmentsStatistics[assessment.assessment_ID].complete / assessmentsStatistics[assessment.assessment_ID].length >= 0.8)"
                    href="/assessments/{{assessment.assessment_ID}}") Comment on assessment
                    button.btn.btn-col.btn-default(
                    ng-if="(assessmentsStatistics[assessment.assessment_ID].complete / assessmentsStatistics[assessment.assessment_ID].length < 0.8)"
                    disabled) Waiting for completion