//TODO PREV SAVED ANSWER IS ONLY SOMETIMES LOADED
.form-horizontal(name="answer_form")
    fieldset
        div(id="answer_choice_div").bottom-padding-med
            legend Choose one of the following answers (required):
            ng-form(name="answer_choice_form")
                .form-group.left-padding-lg(ng-repeat="choice in question.question_criteria" required)
                    input(
                    type="radio"
                    name="choice.choice_name"
                    value="{{$index}}"
                    ng-checked="choice.selected"
                    ng-model="answer.new_answer_selection"
                    ng-disabled="assessment.edit_control!==current_user._id || assessment.status === 'submitted' || assessment.status === 'trial_submitted'")
                    text.left-padding-med {{choice.letter}} - {{choice.text}}
        div(id="answer_justification_div")
            ng-form(name="answer_justification_form")
                .form-group.top-padding-med
                    .row.left-padding-lg
                        .col-md-11
                            h4 Justification (required):
                            rgi-wysiwyg(
                                name="justification"
                                ng-model="answer[current_user.role + '_justification']"
                                placeholder="Please provide your justification (4,000 character limit)..."
                                disabled="assessment.edit_control!==current_user._id || assessment.status === 'submitted' || assessment.status === 'trial_submitted'"
                            )
