.col-md-pull-2
    button.btn.btn-success(
    ng-click="answerResubmit()"
    ng-if="(assessment.edit_control === identity.currentUser._id) && (assessment.status === 'review_' + identity.currentUser.role)"
    ng-disabled="isResolveFlagRequired() && !isChoiceChanged() && !isJustificationChanged()"
    ) Mark complete
    | &nbsp;

    button.btn.btn-success(
    ng-click="answerSubmit()"
    ng-if="(assessment.edit_control === identity.currentUser._id) && (['trial_started', 'researcher_started', 'reviewer_started'].indexOf(assessment.status) > -1)"
    ng-disabled="isResolveFlagRequired() && !isChoiceChanged() && !isJustificationChanged()"
    ) Mark complete
    | &nbsp;

    button.btn.btn-primary(
    ng-click="answerSave()"
    ng-if="((assessment.edit_control === identity.currentUser._id) && (['trial_submitted','submitted'].indexOf(assessment.status) === -1)) || identity.currentUser.isSupervisor()"
    ) Save answer
    | &nbsp;

    button.btn.btn-success(
    ng-click="answerApprove()"
    ng-if="identity.currentUser.isSupervisor() && (['resubmitted', 'trial_submitted','under_review'].indexOf(assessment.status) > -1) && (['approved', 'final'].indexOf(answer.status) === -1)"
    ) Approve answer
    | &nbsp;

    button.btn.btn-danger(
    ng-click="answerClear()"
    ng-if="(assessment.edit_control === identity.currentUser._id) && (['trial_started', 'researcher_started', 'reviewer_started', 'review_' + identity.currentUser.role].indexOf(assessment.status) > -1) && (['assigned', 'saved' + identity.currentUser.role].indexOf(answer.status) > -1)"
    ) Reset answer
    | &nbsp;

    button.btn.btn-warning(
    ng-click="answerFlag()"
    ng-if="identity.currentUser.isSupervisor()"
    ) Flag answer
    | &nbsp;

    button.btn.btn-danger(
    ng-click="answerUnresolved()"
    ng-if="identity.currentUser.isSupervisor() && (['under_review', 'resubmitted'].indexOf(assessment.status) > -1)"
    ) Mark unresolved
    | &nbsp;

    button.btn.btn-primary(
    ng-click="finalChoiceDialog()"
    ng-if="identity.currentUser.isSupervisor() && answer.reviewer_score && answer.researcher_score"
    ) Choose final answer
    | &nbsp;

    button.btn.btn-primary(
    ng-click="externalAnswer()"
    ng-if="identity.currentUser.isExternalReviewer()"
    ) Choose alternate answer
    | &nbsp;

    button.btn.btn-default(
    ng-click="answerReturn()"
    ) Return to assessment menu