//- Active buttons
.col-md-pull-2
    button.btn.btn-primary(
    ng-click="answerSave()"
    ng-if="(assessment.edit_control===current_user._id || current_user.isSupervisor()) && ['trial_submitted','under_review', 'resubmitted'].indexOf(assessment.status) > -1"
    ) Save answer
    | &nbsp;

    button.btn.btn-success(
    ng-click="answerResubmit()"
    ng-if="assessment.edit_control===current_user._id && assessment.status==='review_' + current_user.role"
    ) Mark complete
    | &nbsp;

    button.btn.btn-success(
    ng-click="answerSubmit()"
    ng-if="assessment.edit_control===current_user._id && (['trial_started', 'started', 'review_started'].indexOf(assessment.status) > -1)"
    ) Mark complete
    | &nbsp;

    button.btn.btn-success(
    ng-click="answerApprove()"
    ng-if="current_user.role==='supervisor' && (['trial_submitted','under_review', 'resubmitted'].indexOf(assessment.status) > -1)"
    ) Approve answer
    | &nbsp;

    button.btn.btn-danger(
    ng-click="answerClear()"
    ng-if="assessment.edit_control===current_user._id && (['trial_started', 'started', 'review_started', 'review_' + current_user.role].indexOf(assessment.status) > -1) && (['assigned', 'saved' + current_user.role].indexOf(answer.status) > -1)"
    ) Reset answer
    | &nbsp;

    //a.btn.btn-warning(
    //data-toggle="modal"
    //href="#flagModal") Flag answer
    button.btn.btn-warning(
    ng-click="answerFlag()"
    ng-if="current_user.isSupervisor()"
    ) Flag answer
    | &nbsp;

    button.btn.btn-danger(
    ng-click="answerUnresolved()"
    ng-if="current_user.isSupervisor() && (['under_review', 'resubmitted'].indexOf(assessment.status) > -1)"
    ) Mark unresolved
    | &nbsp;

    button.btn.btn-primary(
    ng-click="finalChoiceDialog()"
    ng-if="current_user.isSupervisor() && answer.reviewer_score && answer.researcher_score"
    ) Choose final answer
    | &nbsp;

    button.btn.btn-primary(
    ng-click="externalAnswer()"
    ng-if="current_user.isExternalReviewer()"
    ) Choose alternate answer
    | &nbsp;

    button.btn.btn-default(
    ng-click="answerReturn()"
    ) Return to assessment menu

//.row
//    div(aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" draggable="" id="flagModal" role="dialog" tabindex="-1")
//        div.modal-dialog
//            div.left-padding-lg.right-padding-lg
//            div.modal-content
//                div.modal-header
//                    button.close(aria-hidden="true" data-dismiss="modal" type="button") x
//                    h3 Please add text describing flag.
//                div.modal-body
//                    .form-horizontal.left-padding-lg
//                        fieldset
//                            .row
//                                .form-group(required).col-md-12
//                                    textarea.form-control(
//                                    name="question_text"
//                                    type="textbox"
//                                    ng-model="flag_content"
//                                    redactor) {{flag_content}}
//                div.modal-footer
//                    button.btn.btn-success(ng-click="saveFlag()" ng-disabled="!flag_content") Save
//                    | &nbsp;
//                    button.btn.btn-default(data-dismiss="modal" type="button") Cancel