div(id="comments_div").bottom-padding-med
    legend Comments:
    div(id="prev_comments_div" ng-if="update.comments.length!==0")
        .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in update.comments")
            .row
                b(ng-if='current_user.isSupervisor()') {{comment.author.firstName}} {{comment.author.lastName}} (
                b {{comment.author.role|role}}
                b(ng-if='current_user.isSupervisor()') ):
            .row
                date
                    small
                        em  {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
            .row.col-md-11(ng-bind-html="comment.content")
            .row.pull-right.right-padding-lg(ng-if="comment.author._id === current_user._id")
                button.btn.btn-primary(ng-click="commentEdit(comment, $index)") Edit comment

    #new_comment_div.bottom-padding-med.top-padding-med
        ng-form(name="new_comment_form")
            .row.left-padding-lg
                .col-md-10
                    div(
                        name="comment"
                        ng-model="update.new_comment"
                        ta-toolbar="[['undo', 'redo', 'clear'], ['bold', 'italics', 'underline', 'strikeThrough'], ['h1', 'h2', 'h3'], ['ul', 'ol'], ['pre', 'quote', 'insertLink']]"
                        placeholder="New comment..."
                        text-angular
                    )
                .col-md-1
                    button.btn.btn-success(
                    ng-click="commentSubmit()"
                    ng-disabled="new_comment_form.$invalid"
                    ) Submit comment