//TODO PREV SAVED ANSWER IS ONLY SOMETIMES LOADED
.form-horizontal(name="answer_form")
    fieldset
        #answer_choice_div.bottom-padding-med
            legend Choose one of the following answers (required):
            ng-form(name="answer_choice_form")
                .form-group.left-padding-lg(ng-repeat="choice in question.question_criteria track by choice.letter")
                    input(
                    required
                    type="radio"
                    name="choice.choice_name"
                    id="{{::choice.name}}"
                    value="{{::$index}}"
                    ng-checked="choice.selected"
                    ng-model="answer.new_answer_selection"
                    ng-disabled="(assessment.edit_control !== identity.currentUser._id)|| (['submitted', 'trial_submitted'].indexOf(assessment.status) !== -1)")
                    label(for="{{::choice.name}}").thin-label.left-padding-med {{::choice.letter}} - {{::choice.text}}
        #answer_justification_div
            ng-form(name="answer_justification_form")
                .form-group.top-padding-med
                    .row.left-padding-lg
                        .col-md-11
                            h4 Justification (required):
                            rgi-wysiwyg(
                                name="justification"
                                ng-model="answer[identity.currentUser.role + '_justification']"
                                placeholder="Please provide your justification (4,000 character limit)..."
                                limit="4000"
                                disabled="(assessment.edit_control !== identity.currentUser._id) || (['submitted', 'trial_submitted'].indexOf(assessment.status) !== -1)")
