div.table-responsive
    .pull-left
        form.form-inline
            .form-group
                select.form-control(ng-model="assessment_filter"
                ng-disabled="!assessment_filter && (documents.length < 1)"
                ng-options="item.value as item.text for item in assessment_filter_options | orderBy: 'text'")
                    option(value="") Show all documents
    .pull-right
        form.form-inline
            .form-group
                input.form-control(
                ng-model="search_text"
                ng-disabled="documents.length < 1"
                placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(
                ng-model="sort_order"
                ng-disabled="documents.length < 1"
                ng-options="item.value as item.text for item in sort_options")

    table.table.table-hover.table-striped.table-condensed.left-padding-lg.right-padding-lg(ng-if="documents.length > 0")
        thead
            tr
                th.col-md-2 Title
                th.col-md-2 Authors
                th.col-md-1 Type
                th.col-md-2 Cited by
                th.col-md-1 Assessments
                th(colspan="3").col-md-4.text-center Actions
        tbody
            tr(ng-repeat="doc in documents | filter:search_text | orderBy:sort_order")
                td.col-md-2 {{doc.title}}
                td.col-md-2
                    div(ng-repeat="author in doc.authors") {{author.first_name}} {{author.last_name}}
                td.col-md-1 {{doc.type}}
                td.col-md-2
                    div(ng-repeat="user in doc.users")
                        | {{user.firstName}} {{user.lastName}}
                td.col-md-1
                    div(ng-repeat="assessment in doc.assessments")
                        a(href="/admin/assessments-admin/{{assessment}}") {{assessment}}
                td.col-md-1
                    a(href="/admin/documents-admin/{{doc._id}}").btn-block.btn.btn-warning Metadata
                td.col-md-2
                    a(href="{{doc.s3_url}}" target="_blank").btn-block.btn.btn-default Link to document
                td.col-md-1
                    a(ng-if="doc.answers.length <= 0", ng-click="deleteDocument(doc)").btn.btn-danger Delete
                    a(ng-if="doc.answers.length > 0", disabled).btn.btn-danger Delete

div(ng-if='documents.length>99' infinite-scroll='loadMoreDocs()' infinite-scroll-distance='0')
