.assessment-navigation
    glyphicon.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
    ng-if="!isLastAnswer()"
    ng-click="moveLast()")

    glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(ng-if="isLastAnswer()" disabled)

    glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
    ng-if="!isLastAnswer()"
    ng-click="moveForward()")

    glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(ng-if="isLastAnswer()" disabled)

    glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
    ng-if="!isFirstAnswer()"
    ng-click="moveBackward()")

    glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="isFirstAnswer()" disabled)

    glyphicon.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
    ng-if="!isFirstAnswer()"
    ng-click="moveFirst()")

    glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
    ng-if="isFirstAnswer()"
    disabled)