div.table-responsive
    .pull-right.filter-form
        form.form-inline
            .form-group
                input.form-control(
                ng-model="search_text"
                placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(
                ng-model="sort_order"
                ng-options="item.value as item.text for item in sort_options")
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th.col-sm-1 Name
                th.col-sm-1 Username
                th.col-sm-1 Role
                th.col-sm-1 Last Login
                th.col-sm-7
                    table
                        th.col-sm-2 Assessments
                        th.col-sm-1.text-center Assigned
                        th.col-sm-1.text-center Started
                        th.col-sm-1.text-center Submitted
                        th.col-sm-1.text-center Reviewed
                        th.col-sm-1.text-center Approved
                th.col-sm-1
        tbody
            tr(ng-repeat="user in users | filter:search_text | orderBy:sort_order")
                td.col-sm-1
                    a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
                td.col-sm-1 {{user.username}}
                td.col-sm-1 {{user.role|role|ucfirst}}
                td.col-sm-1 {{user.last_sign_in["date-time"] | date:'MM/dd/yyyy'}}
                td.col-sm-7
                    table.table(style="margin-top: -6px; margin-bottom: -9px")
                        tr(ng-repeat="assessment in user.assessments")
                            td.col-sm-2 {{assessment.country_name}} {{assessment.details.year}} {{assessment.mineral || ''}} {{assessment.details.version}}
                            td.col-sm-1
                                i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                                ng-if="assessment.details.assignment_date"
                                popover="{{assessment.details.assignment_date.date | date:'MM/dd/yyyy'}}"
                                popover-trigger="mouseenter")
                                em(ng-if="!assessment.details.assignment_date") N/A
                            td.col-sm-1
                                i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                                ng-if="assessment.details[user.role+'_start_date'].date"
                                popover="{{assessment.details[user.role+'_start_date'].date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                                popover-trigger="mouseenter")
                                em(ng-if="!assessment.details[user.role+'_start_date'].date") N/A
                            td.col-sm-1
                                i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                                ng-if="assessment.details[user.role+'_submit_date'].date"
                                popover="{{assessment.details[user.role+'_submit_date'].date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                                popover-trigger="mouseenter")
                                em(ng-if="!assessment.details[user.role+'_submit_date'].date") N/A
                            td.col-sm-1
                                i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                                ng-if="assessment.details.last_review_date"
                                popover="{{assessment.details.last_review_date.date | date:'MM/dd/yyyy'}}"
                                popover-trigger="mouseenter")
                                em(ng-if="!assessment.details.last_review_date") N/A
                            td.col-sm-1
                                i.text-success.glyphicon.glyphicon-calendar.popover-dialog(
                                ng-if="assessment.details.approval_date"
                                popover="{{assessment.details.approval_date.date | date:'MM/dd/yyyy @ h:mma' : timezone}}"
                                popover-trigger="mouseenter")
                                em(ng-if="!assessment.details.approval_date") N/A
                td.col-sm-1
                    a.btn.center-block.btn-primary(href="/admin/user-admin/{{user._id}}") View