legend References (required):
div.bottom-padding-med(
    ng-if="current_user._id===assessment.edit_control && !(['resubmitted', 'submitted'].indexOf(assessment.status) > -1)"
    id="biblio_div")
    .row
        .col-md-5.pull-left.top-padding-med
            select.form-group.form-control.pull-left(ng-model="selected.value" ng-change="selectRefDialog(selected.value)")
                option(
                value="none"
                selected
                disabled) Select action
                option(
                ng-repeat="ref in ref_type"
                value="{{ref.value}}") {{ref.text}}

//- BILBLIO LIST
div(id="prev_bib" ng-if="references.length > 0")
    .row.left-padding-lg.right-padding-lg
        h4 Citations
        .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in references")
            .row(ng-if="ref.document_ID.type !== 'web_page' && ref.citation_type !== 'interview'")
                b Title:
                |  {{ref.document_ID.title}} (
                a(href="{{ref.document_ID.s3_url}}" target="_blank") View here
                | )
            .row(ng-if="ref.document_ID.type === 'web_page' && ref.citation_type !== 'interview'")
                b Title:
                a(href="{{ref.document_ID.source}}" target="_blank")  {{ref.document_ID.title}}
            .row(ng-if="ref.citation_type === 'interview' && current_user.isSupervisor()")
                b Contact:
                |  {{ref.interviewee_ID.firstName}} {{ref.interviewee_ID.lastName}} ({{ref.interviewee_ID.role}})
            .row(ng-if="ref.citation_type === 'interview' && !current_user.isSupervisor()")
                b Contact:
                em  {{ref.interviewee_ID.role}}
            .row(ng-if="ref.citation_type !== 'interview'")
                b Author(s):
                text(ng-repeat="author in ref.document_ID.authors" ng-if="ref.document_ID.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                    text(ng-if="!$last") ;
                text(ng-if="ref.document_ID.author.length === 0")  N/A
            .row
                b Type:
                text(ng-if="ref.citation_type === 'document'")  {{ref.document_ID.type | ucfirst | addSpaces}}
                text(ng-if="ref.citation_type === 'interview'")  {{ref.citation_type | ucfirst}}
            .row(ng-if="ref.citation_type === 'document'")
                b Year published:
                text(ng-if="ref.document_ID.year")  {{ref.document_ID.year}}
                text(ng-if="!ref.document_ID.year")  N/A
            .row(ng-if="ref.citation_type !== 'interview'")
                b Location in document:
                |  {{ref.location}}
            .row
                b Cited by:
                text(ng-if="current_user.isSupervisor()")  {{ref.author.firstName}} {{ref.author.lastName}} on {{ref.date | date: 'MM/dd/yyyy'}}
                text(ng-if="!current_user.isSupervisor()")  {{ref.author.role}} on {{ref.date | date: 'MM/dd/yyyy'}}
            .row(ng-if="ref.citation_type === 'interview'")
                b Interviewed:
                |  {{ref.contact_date | date:'MM/dd/yyyy'}}
            .row(ng-if="ref.citation_type === 'document'")
                b Accessed on:
                |  {{ref.date_accessed | date: 'MM/dd/yyyy'}}
            .row: b Comments:
            .row.left-padding-lg.right-padding-lg
                text(ng-if="ref.comment" ng-bind-html="ref.comment")
                text(ng-if="!ref.comment")  N/A
            .row.top-padding-med(ng-if="ref.author._id===current_user._id")
                .col-lg-8
                    button.btn.btn-danger.pull-right(ng-click="deleteReference(ref._id)") Delete Reference
                .col-lg-4
                    button.btn.btn-primary.pull-right(popover="Feature coming" popover-trigger="mouseenter" ng-click="") Edit reference
        hr