div(id="flags_div").bottom-padding-med
    legend Flags:
    div.panel-group(
    id="prev_flags_div"
    role="tablist"
    aria-multiselectable="true")

        ///TODO Fix repeating imvisible panels
        div.panel(
        ng-repeat="flag in flags"
        ng-if="current_user.isSupervisor() || (!flag.addressed && (flag.addressed_to===current_user._id))"
        ng-class="{'panel-success': flag.addressed, 'panel-danger': !flag.addressed}")
            div.panel-heading(
            role="tab"
            id="heading{{$index}}")
                h4.panel-title
                    div(
                    style="text-align: left;"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapse{{$index}}"
                    aria-expanded="false"
                    aria-controls="collapse{{$index}}")
                        b Flag {{$index+1}} - {{flag.author_name}} (
                        b {{flag.role}}
                        b ):
                        em  {{flag.date | date:'MM/dd/yyyy'}}
                        h6.pull-right Addressed to: {{flag.addressee.firstName}} {{flag.addressee.lastName}}
            div(
            id="collapse{{$index}}"
            class="panel-collapse collapse"
            role="tabpanel"
            ng-if="flag.addressed"
            aria-labelledby="heading{{$index}}")
                div.panel-body
                    .row.left-padding-lg(ng-if="current_user.isSupervisor()")
                        label Addressed?
                            | &nbsp;
                            input(type="checkbox" ng-model="flag.addressed")
                    .row.left-padding-lg.right-padding-lg(ng-bind-html="flag.content")
                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
            div(
            id="collapse{{$index}}"
            class="panel-collapse collapse in"
            role="tabpanel"
            ng-if="!flag.addressed"
            aria-labelledby="heading{{$index}}")
                div.panel-body
                    .row.left-padding-lg(ng-if="current_user.isSupervisor()")
                        label Addressed?
                            | &nbsp;
                            input(
                            type="checkbox"
                            ng-model="flag.addressed")

                    .row.left-padding-lg.right-padding-lg(ng-bind-html="flag.content")
                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
        div.top-padding-lg
            div(
            ng-repeat="flag in answer.flags"
            ng-if="!current_user.isSupervisor() && flag.addressed_to!==current_user._id")
                i.glyphicon.glyphicon-warning-sign.text-warning
                    text(ng-if="current_user.role==='reviewer'")  Flag to Researcher:
                    text(ng-if="current_user.role==='researcher'")  Flag to Reviewer:
                text(ng-bind-html="flag.content")