#flags_div.bottom-padding-med
    legend Flags:
    #prev_flags_div.panel-group(role="tablist", aria-multiselectable="true")

        .panel(
        ng-repeat="flag in flags"
        ng-if="identity.currentUser.isSupervisor() || (!flag.addressed && (flag.addressed_to._id === identity.currentUser._id))"
        ng-class="{'panel-success': flag.addressed, 'panel-danger': !flag.addressed}")
            .panel-heading(role="tab", id="heading{{flag._id}}")
                h4.panel-title
                    div(
                    style="text-align: left;"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapse{{flag._id}}"
                    aria-expanded="false"
                    aria-controls="collapse{{flag._id}}")
                        b Flag {{$index+1}} - {{flag.author.firstName}} {{flag.author.lastName}} (
                        b {{ flag.author.role|role }}
                        b ):
                        em  {{flag.date | date:'MM/dd/yyyy'}}
                        h6.pull-right(ng-if="identity.currentUser.isSupervisor()") Addressed to: {{flag.addressed_to.firstName}} {{flag.addressed_to.lastName}}
            .panel-collapse.collapse(
            id="collapse{{flag._id}}"
            role="tabpanel"
            ng-class="{'in': !flag.addressed}"
            aria-labelledby="heading{{flag._id}}")
                .panel-body
                    .row.left-padding-lg(ng-if="identity.currentUser.isSupervisor()")
                        label Addressed?
                            | &nbsp;
                            input(type="checkbox", ng-model="flag.addressed", ng-change="saveFlag()")
                    .row.left-padding-lg.right-padding-lg.flag-panel-content(
                        ng-bind-html="flag.content"
                        ng-class="flag.addressed ? 'flag-panel-content' : 'wrap-content'"
                    )
                    .row.pull-right.right-padding-lg(ng-if="flag.author._id === identity.currentUser._id")
                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit
        .top-padding-lg
            div(
            ng-repeat="flag in answer.flags"
            ng-if="!identity.currentUser.isSupervisor() && flag.addressed_to._id!==identity.currentUser._id")
                i.glyphicon.glyphicon-warning-sign.text-warning  Flag to {{flag.addressed_to.role|role|ucfirst}}:
                text.wrap-content(ng-bind-html="flag.content")