div(id="questions_div").bottom-padding-med
    div.panel.panel-default
        div.panel-heading.bottom-padding-med
            button.btn.btn-success.popover-dialog(popover="Feature coming" popover-trigger="mouseenter" ng-click="") New Question
            //button.btn.btn-success(ng-click="newQuestionDialog()" disabled) New Question
            | &nbsp;
            button.btn.btn-default(ng-csv="getArray" filename="question_set.csv") Export as CSV
            form.form-inline.pull-right
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")
                .form-group.margin-left-med
                    select.form-control(
                    ng-model="sort_order"
                    ng-options="item.value as item.text for item in sort_options")
    div.panel.panel-primary(
    ng-repeat="(key, value) in questions | orderObjectBy:value.order:order_reverse"
    ng-if="value.section_len > 0")
        div.panel-heading.bottom-padding-med
            .panel-title
                div(
                role="button"
                data-toggle="collapse"
                href="#{{value.id}}")
                    | {{value.label}} -  {{value.section_len}} questions

        div.panel-collapse.collapse(id="{{value.id}}")
            div.panel-body
                table.table.table-hover.table-striped.table-condensed.table-responsive
                    thead: tr
                        th.col-md-1 Number
                        th.col-md-1 Label
                        th.col-md-1 Version
                        th.col-md-6 Question Text
                        th.col-md-1 Component
                        th.col-md-1 Type
                        th.col-md-1
                    tbody: tr(ng-repeat="question in value.data | filter:search_text | orderBy:sort_order")
                        td.col-md-1 {{question.question_order}}
                        td.col-md-1 {{question.question_label}}
                        td.col-md-1 {{question.question_v}}
                        td.col-md-6 {{question.question_text}}
                        td.col-md-1 {{question.component_text}}
                        td.col-md-1 {{question.question_type}}
                        td.col-md-1
                            a.btn.center-block.btn-warning(href="/admin/question-admin/{{question._id}}") Edit