div.left-padding-lg.right-padding-lg
    div.modal-header
        h3 Final choice for question
    div.modal-body
        .row
            form.form-horizontal
                fieldset
                    .row
                        label.col-md-4 Final Choice
                        .form-group.col-md-8
                            select.form-group.form-control.right-padding-med(name="final_choice"
                            ng-model="final_choice"
                            ng-options="opt.text for opt in final_choice_set"
                            required)
                                option(value="" selected disabled) Select final answer

                    .row.left-padding-med(ng-if="['other', 'admin'].indexOf(final_choice.value) > -1")
                        ng-form(name="new_comment_form")
                            .form-group
                                .row.bottom-padding-med
                                    .col-md-12
                                        textarea.form-control(
                                        name="comment"
                                        type="text"
                                        ng-model="final_choice.justification"
                                        placeholder="Justification..."
                                        required)
                                .row.left-padding-lg.right-padding-med
                                    legend Choose one of the following answers:
                                    ng-form(name="answer_choice_form")
                                        .form-group(ng-repeat="choice in question_criteria" required)
                                            input(
                                            type="radio"
                                            name="choice.choice_name"
                                            ng-value="{{choice}}"
                                            checked=""
                                            ng-model="final_choice.score")
                                            text.left-padding-med {{choice.text}}

                    .row.left-padding-med(ng-if="['researcher', 'reviewer'].indexOf(final_choice.value) > -1")
                        .row: em {{final_choice.role | ucfirst}}: {{final_choice.score.letter | ucfirst}} -
                            |  {{final_choice.score.text}}
                        .row: text(ng-bind-html="final_choice.justification")

    div.modal-footer
        button.btn.btn-success(ng-click="finalChoiceSubmit()" ng-disabled="finalChoice.$invalid || answer_choice_form.$invalid") Finalize choice
        | &nbsp;
        button.btn.btn-danger(ng-click="closeDialog()") Cancel