.container.top-padding-med
    .well.left-padding-lg
        div.left-padding-lg.right-padding-lg.top-padding-med
            legend.h3
                .row
                    h2 {{assessment.country}} {{assessment.year}} {{assessment.version}} assessment review
                        .text-success.pull-right(ng-if="answer.status==='approved'")  (approved)
                        .text-danger.pull-right(ng-if="answer.status==='flagged'")  (flagged)

                    a.text-info.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                    href="admin/assessment-review/answer-review-edit/{{assessment.assessment_ID}}-{{assessment.question_length | zpad:3}}"
                    ng-if="assessment.question_length!==answer.question_order")
                    glyphicon.text-muted.glyphicon.glyphicon-fast-forward.pull-right.left-padding-med(
                    ng-if="assessment.question_length===answer.question_order"
                    disabled)

                    glyphicon.text-info.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                    ng-click="moveForwardReview()"
                    ng-if="answer.question_order!==assessment.question_length")
                    glyphicon.text-muted.glyphicon.glyphicon-forward.pull-right.left-padding-med(
                    ng-if="answer.question_order===assessment.question_length"
                    disabled)

                    //TODO prototype for glyphicons showing answer status
                    //glyphicon.text-success.glyphicon.glyphicon-ok-sign.pull-right.right-padding-lg(ng-if="answer.status==='submitted'")
                    //glyphicon.text-danger.glyphicon.glyphicon-flag.pull-right.right-padding-lg(ng-if="answer.status==='flagged'")
                    //glyphicon.text-info.glyphicon.glyphicon-floppy-saved.pull-right(ng-if="answer.status==='saved'")
                    //text.pull-right.right-padding-lg(ng-if="answer.status!=='saved' && answer.status!=='submitted' && answer.status!=='flagged'") none
                    //text.pull-right.right-padding-lg Status:

                    glyphicon.text-info.glyphicon.glyphicon-backward.pull-right.right-padding-med(
                    ng-click="moveBackwardReview()"
                    ng-if="answer.question_order!==1")
                    glyphicon.text-muted.glyphicon.glyphicon-backward.pull-right.right-padding-med(ng-if="answer.question_order===1")

                    a.text-info.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                    href="admin/assessment-review/answer-review-edit/{{assessment.assessment_ID}}-001"
                    ng-if="answer.question_order!==1")
                    glyphicon.text-muted.glyphicon.glyphicon-fast-backward.pull-right.right-padding-med(
                    ng-if="answer.question_order===1"
                    disabled)


            .row.left-padding-lg.bottom-padding-med
                h3
                    em Question {{answer.question_order}}. {{answer.question_text}}
                br
                div(ng-if="!answer.researcher_score")
                    h5 Researcher score:
                    em Not submitted
                div(ng-if="answer.researcher_score")
                    h5 Researcher score:
                    div(ng-if="answer.researcher_score")
                        ng-form(name="answer_choice_form")
                            .form-group.left-padding-lg(ng-repeat="choice in question.question_choices" required)
                                input(
                                type="radio"
                                name="choice.choice_name"
                                value="{{choice.order}}"
                                checked=""
                                ng-model="answer.researcher_score"
                                ng-disabled="assessment.edit_control!==current_user._id")
                                text.left-padding-med {{choice.criteria}}
                    h5 Researcher justification:
                    em {{answer.researcher_justification}}
                    br
                    br
                div(ng-if="!answer.reviewer_score")
                    h5 Researcher score:
                    em Not submitted
                div(ng-if="answer.reviewer_score")
                    h5 Researcher score:
                    div(ng-if="answer.reviewer_score")
                        ng-form(name="answer_choice_form")
                            .form-group.left-padding-lg(ng-repeat="choice in question.question_choices" required)
                                input(
                                type="radio"
                                name="choice.choice_name"
                                value="{{choice.order}}"
                                checked=""
                                ng-model="answer.reviewer_score"
                                ng-disabled="assessment.edit_control!==current_user._id")
                                text.left-padding-med {{choice.criteria}}
                    h5 Researcher justification:
                    em {{answer.reviewer_justification}}
                    br
                    br
                br

            //- View only buttons
            .row.left-padding-lg.bottom-padding-lg
                button.btn.btn-primary(ng-click="answerSave()") Save answer
                | &nbsp;
                //button.btn.btn-success(ng-click="answerApprove()" ng-disabled="flagCheck(answer.flags)") Approve answer
                button.btn.btn-success(ng-click="answerApprove()") Approve answer
                | &nbsp;
                button.btn.btn-warning(ng-click="answerFlag(current_user)") Flag answer
                | &nbsp;
                button.btn.btn-primary(ng-click="finalChoiceDialog()" ng-disabled="!answer.reviewer_score || !answer.researcher_score || answer.status !== 'approved'") Choose final answer
                | &nbsp;
                a.btn.btn-default(href="/admin/assessment-review/{{assessment.assessment_ID}}") Return to assessment menu



            .row.left-padding-lg.bottom-padding-lg(ng-if="answer.flags.length!==0")
                div(id="flags_div").bottom-padding-med
                    legend Flags:


                    div.panel-group(
                    id="prev_flags_div"
                    role="tablist"
                    aria-multiselectable="true")
                        div.panel(ng-repeat="flag in answer.flags")(ng-class="{'panel-success': flag.addressed, 'panel-danger': !flag.addressed}")
                            div.panel-heading(
                            role="tab"
                            id="heading{{$index}}")
                                h4.panel-title
                                    div(
                                    style="text-align: left;"
                                    role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapse{{$index}}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{$index}}")
                                        b Flag {{$index+1}} - {{flag.author_name}} (
                                        b {{flag.role}}
                                        b ):
                                        em  {{flag.date | date:'MM/dd/yyyy'}}
                            div(
                            id="collapse{{$index}}"
                            class="panel-collapse collapse in"
                            role="tabpanel"
                            aria-labelledby="heading{{$index}}")
                                div.panel-body
                                    .row.left-padding-lg
                                        label Addressed?
                                            input(type="checkbox" ng-model="flag.addressed")

                                    .row.left-padding-lg.right-padding-lg
                                        text {{flag.content}}
                                    .row.pull-right.right-padding-lg(ng-if="flag.author === current_user._id")
                                        button.btn.btn-primary(ng-click="flagEdit(flag, $index)") Edit

            .row.left-padding-lg
                .form-horizontal(name="comment_form")
                    fieldset

                        div(id="comments_div").bottom-padding-med
                            legend Comments:

                            div(id="prev_comments_div" ng-if="answer.comments.length!==0")
                                .row.left-padding-lg.bottom-padding-med(ng-repeat="comment in answer.comments")
                                    .row
                                        b {{comment.author_name}} (
                                        b {{comment.role}}
                                        b ):
                                    .row
                                        date
                                            small
                                                em  {{comment.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
                                    .row.col-md-11 {{comment.content}}
                                    .row.pull-right.right-padding-lg(ng-if="comment.author === current_user._id")
                                        button.btn.btn-primary(ng-click="commentEdit(comment, $index)") Edit
                            br
                            div(id="new_comment_div").bottom-padding-med
                                ng-form(name="new_comment_form")
                                    .form-group.top-padding-med
                                        .row.left-padding-lg
                                            .col-md-10
                                                textarea.form-control(
                                                name="comment"
                                                type="text"
                                                ng-model="answer.new_comment"
                                                placeholder="New comment..."
                                                required)
                                            .col-md-1
                                                button.btn.btn-success(
                                                ng-click="commentSubmit(current_user)"
                                                ng-disabled="new_comment_form.$invalid"
                                                ) Submit comment


                        //- BILBLIO LIST
                        div(id="prev_bib")
                            .row.left-padding-lg
                                label Citations
                                .row.left-padding-lg.bottom-padding-med(ng-repeat="ref in citations")
                                    .row Author(s):
                                        text(ng-repeat="author in ref.authors" ng-if="ref.authors.length > 0")  {{author.first_name}} {{author.last_name}}
                                            text(ng-if="!$last") ;
                                        text(ng-if="ref.author.length === 0")  N/A
                                    .row Title: {{ref.title}} (
                                        a(href="{{ref.s3_url}}" target="_blank") View here
                                        text )
                                    .row Published:
                                        text(ng-if="ref.year")  {{ref.year}}
                                        text(ng-if="!ref.year")  N/A
                                    .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date: 'MM/dd/yyyy'}}
                                    .row Comments:
                                        text(ng-if="ref.comment.content")  {{ref.comment.content}}
                                        text(ng-if="!ref.comment.content")  N/A
                                    //br
                            .row.left-padding-lg
                                label Websites
                                .row.left-padding-lg(ng-repeat="ref in answer.references.web")
                                    .row Website: {{ref.title}} (
                                        a(href="{{ref.URL}}" target="_blank") View here
                                        text )
                                    .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                                    .row Comments: {{ref.comment.content}}
                                    br
                            .row.left-padding-lg
                                label Interviews
                                .row.left-padding-lg(ng-repeat="ref in answer.references.human")
                                    .row Contact: {{ref.first_name}} {{ref.last_name}}
                                    .row Contacted: {{ref.contact_date | date:'MM/dd/yyyy'}}
                                    .row Cited by {{ref.comment.author_name}} on {{ref.comment.date | date:'MM/dd/yyyy'}}
                                    .row Comments: {{ref.comment.content}}
