.container-fluid.page-container
    .well
        .page-well
            legend.h3.page-header {{title}}
            .bottom-padding-med: button.btn.btn-success(ng-click="showCreateResourceDialog()") Create new block
            .left-padding-med.right-padding-med
                .panel.panel-primary(ng-repeat="resource in resources")
                    .panel-heading.bottom-padding-med
                        .panel-title
                            div(
                            role="button"
                            data-toggle="collapse"
                            href="#{{resource._id}}")
                                | {{resource.head}} - {{resource.order}}
                    .panel-collapse.collapse(id="{{resource._id}}")
                        .panel-body
                            .right-padding-med.left-padding-med.bottom-padding-lg
                                .row-fluid
                                    label.col-md-1.control-label(form="order")
                                        text(ng-if="title==='Other Resources'") Resource order
                                        text(ng-if="title==='Frequently Asked Questions'") FAQ order
                                    .col-md-1
                                        input.form-group.form-control(
                                        name="order"
                                        type="number"
                                        ng-model="resource.order")

                                    label.col-md-1.control-label(form="title")
                                        text(ng-if="title==='Other Resources'") Resource title
                                        text(ng-if="title==='Frequently Asked Questions'") FAQ title
                                    .col-md-8
                                        input.form-group.form-control(
                                        name="label"
                                        ng-model="resource.head")
                                .row-fluid
                                    label Content
                                    .form-group.left-padding-lg.right-padding-lg(required)
                                        rgi-wysiwyg(name="resource-{{$index}}-body", ng-model="resource.body")

                                .row-fluid.top-padding-med.right-padding-lg
                                    .pull-right
                                        button.btn.btn-success(ng-click='updateResource(resource)') Save
                                        | &nbsp;
                                        button.btn.btn-danger(ng-click='showConfirmResourceDeletionDialog(resource)') Delete