.left-padding-lg.right-padding-lg
    .modal-header
        h3 Edit Document
    .modal-body
        form(name="editDocumentForm").form-horizontal
            fieldset
                // TITLE
                .row.form-group.right-padding-lg
                    label
                        small Title:
                    input.form-control(
                    name="title"
                    type="text"
                    placeholder="Title (required)..."
                    ng-model="new_doc_data.title"
                    autocomplete="off"
                    required)
                // DOC TYPE
                .row.form-group.right-padding-lg
                    label
                        small Document type:
                    select.form-control(ng-model="new_doc_data.type", required)
                        option(
                        ng-selected="new_doc_data.type === type.value"
                        ng-repeat="type in doc_type"
                        autocomplete="off"
                        value="{{type.value}}") {{type.text}}
                // AUTHOR
                .row
                    label
                        small Authors:
                .row(ng-repeat="author in new_doc_data.authors")
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            input.form-control(
                            name="author-{{$index}}-first-name"
                            type="text"
                            placeholder="Author first name (required)..."
                            ng-model="author.first_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off"
                            required)
                    .pull-left.col-lg-5
                        .form-group.left-padding-med
                            input.form-control(
                            name="author-{{$index}}-first-name"
                            type="text"
                            placeholder="Author last name (required)..."
                            ng-model="author.last_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off"
                            required)
                    .pull-left.col-lg-1.margin-left-med
                        glyphicon.active-icon.text-success.glyphicon.glyphicon-plus-sign(
                            ng-click="addAuthor()", ng-if="$last")
                        glyphicon.active-icon.text-danger.glyphicon.glyphicon-minus-sign(
                            ng-click="deleteAuthor($index)", ng-if="!$last")
                    .clearfix
                // EDITORS
                .row
                    label
                        small Editors:
                .row(ng-repeat="editor in new_doc_data.editors")
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            input.form-control(
                            name="editor-{{$index}}-first-name"
                            type="text"
                            placeholder="Editor first name..."
                            ng-model="editor.first_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off")
                    .pull-left.col-lg-5
                        .form-group.left-padding-med
                            input.form-control(
                            name="editor-{{$index}}-last-name"
                            type="text"
                            placeholder="Editor last name..."
                            ng-model="editor.last_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off")
                    .pull-left.col-lg-1.margin-left-med
                        glyphicon.active-icon.text-success.glyphicon.glyphicon-plus-sign(
                            ng-click="addEditor()", ng-if="$last")
                        glyphicon.active-icon.text-danger.glyphicon.glyphicon-minus-sign(
                            ng-click="deleteEditor($index)", ng-if="!$last")
                    .clearfix
                //SOURCE
                .row
                    .col-lg-11
                        .form-group
                            label
                                small Source:
                            input.form-control.right-padding-med(
                            name="source"
                            type="url"
                            placeholder="Source URL..."
                            ng-model="new_doc_data.source"
                            autocomplete="off")

                .row
                    // YEAR
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            label
                                small Year:
                            input.form-control(
                            name="year"
                            type="text"
                            placeholder="Year published..."
                            ng-model="new_doc_data.year"
                            ng-pattern="numericRangePattern"
                            autocomplete="off")


                        // PAGES
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            label
                                small Pages:
                            input.form-control(
                            name="pages"
                            type="text"
                            placeholder="Pages... e.g. 7-9, 11"
                            ng-model="new_doc_data.pages"
                            ng-pattern="numericRangePattern"
                            autocomplete="off")

                .row
                    // VOLUME
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            label
                                small Volume:
                            input.form-control(
                            name="volume"
                            type="text"
                            placeholder="Volume..."
                            ng-model="new_doc_data.volume"
                            autocomplete="off")

                    //ISSUE
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            label
                                small Issue:
                            input.form-control(
                            name="issue"
                            type="text"
                            placeholder="Issue..."
                            ng-model="new_doc_data.issue"
                            autocomplete="off")

                .row
                    // PUBLISHER
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            label
                                small Publisher:
                            input.form-control(
                            name="publisher"
                            type="text"
                            placeholder="Publisher..."
                            ng-model="new_doc_data.publisher"
                            autocomplete="off")

                    // CITY
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            label
                                small City:
                            input.form-control(
                            name="city"
                            type="text"
                            placeholder="City..."
                            ng-model="new_doc_data.city"
                            ng-pattern="humanNamePattern"
                            autocomplete="off")

                .row
                    // EDITION
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            label
                                small Edition:
                            input.form-control(
                            name="edition"
                            type="text"
                            placeholder="Edition..."
                            ng-model="new_doc_data.edition"
                            autocomplete="off")

                    // INSTITUTION
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            label
                                small Institution:
                            input.form-control(
                            name="institution"
                            type="text"
                            placeholder="Institution..."
                            ng-model="new_doc_data.institution"
                            autocomplete="off")

                .row
                    // SERIES
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            input.form-control(
                            name="series"
                            type="text"
                            placeholder="Series..."
                            ng-model="new_doc_data.series"
                            autocomplete="off")

                    // CHAPTER
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            input.form-control(
                            name="chapter"
                            type="text"
                            placeholder="Chapter..."
                            ng-model="new_doc_data.chapter"
                            autocomplete="off")

                .row
                    // COUNTRY
                    .pull-left.col-lg-5
                        .form-group.right-padding-med
                            label
                                small Series:
                            input.form-control(
                            name="country"
                            type="text"
                            placeholder="Country..."
                            ng-model="new_doc_data.country"
                            autocomplete="off")

                    // TRANSLATORS
                    .pull-left.col-lg-6
                        .form-group.left-padding-med
                            label
                                small Translators:
                            input.form-control(
                            name="translators"
                            type="text"
                            placeholder="Translators..."
                            ng-model="new_doc_data.translators"
                            autocomplete="off")
                // SERIES EDITOR
                .row
                    .col-lg-11
                        .form-group
                            label
                                small Series Editor:
                            input.form-control.right-padding-med(
                            name="series_editor"
                            type="text"
                            placeholder="Series editor..."
                            ng-model="new_doc_data.series_editor"
                            autocomplete="off")
    .modal-footer
        .col-lg-11
            button.btn.btn-block.btn-success(
                ng-click="saveDocument(new_doc_data)"
                ng-disabled="disable_button") Save reference