.left-padding-lg.right-padding-lg
    .modal-header
        h3 Edit Interviewee
    .modal-body
        .row.left-padding-lg(id="interviewee_form")
            form(name="interviewee_form").form-horizontal
                fieldset
                    .row
                        .form-group.pull-left.col-lg-5
                            label
                                small First name:
                            input.form-control(
                            name="first_name"
                            type="text"
                            placeholder="First name..."
                            ng-pattern="humanNamePattern"
                            ng-model="new_interviewee_data.firstName"
                            required
                            autocomplete="off")
                        .pull-left.col-lg-1
                        .form-group.pull-left.col-lg-5
                            label
                                small Last name:
                            input.form-control(
                            name="last_name"
                            type="text"
                            placeholder="Last name..."
                            ng-pattern="humanNamePattern"
                            ng-model="new_interviewee_data.lastName"
                            required
                            autocomplete="off")

                    .row
                        .form-group.pull-left.col-lg-5
                            label
                                small Phone number:
                            input.form-control(
                            name="phone_number"
                            type="phone"
                            placeholder="Phone number..."
                            ng-model="new_interviewee_data.phone"
                            autocomplete="off")
                        .pull-left.col-lg-1
                        .form-group.pull-left.col-lg-5
                            label
                                small Email:
                            input.form-control(
                            name="email"
                            type="email"
                            placeholder="Email..."
                            ng-model="new_interviewee_data.email"
                            required
                            autocomplete="off")

                    .row
                        .form-group.pull-left.col-lg-5
                            label
                                small Title:
                            input.form-control(
                            name="title"
                            type="text"
                            placeholder="Title..."
                            ng-model="new_interviewee_data.title"
                            autocomplete="off")
                        .pull-left.col-lg-1
                        .form-group.pull-left.col-lg-5
                            label
                                small Organization:
                            input.form-control(
                            name="organization"
                            type="text"
                            placeholder="Organization..."
                            ng-model="new_interviewee_data.organization"
                            autocomplete="off")

                    .row
                        .form-group.pull-left.col-lg-11
                            label
                                small Role:
                            select.form-control(
                                ng-model="new_interviewee_data.role"
                                ng-options="role as (role|role|ucfirst) for role in roles"
                                required
                            )

    .modal-footer
        .col-lg-6
            button.btn.btn-block.btn-success(
                ng-click="saveInterviewee(new_interviewee_data)"
                ng-disabled="interviewee_form.$invalid"
            ) Save interviewee
        .col-lg-6
            button.btn.btn-block.btn-danger(ng-click="closeThisDialog()") Cancel