.left-padding-lg.right-padding-lg(rgi-draggable-dialog)
    .modal-header
        h3 Edit Interview Reference
    .modal-body
        .form-horizontal.top-padding-lg

            fieldset
                .row.bottom-padding-med
                    .col-md-12
                        rgi-calendar(ng-model="ref.contact_date", placeholder="Date accessed...")

                .row.bottom-padding-med
                    .col-md-12
                        rgi-wysiwyg(
                            name="reference-comment"
                            placeholder="Enter relevant interview statements for this question (4,000 character limit) (required)..."
                            ng-model="ref.comment"
                        )
        .row
            h4 Interviewee
            .row.left-padding-lg
                h5: b Name:
                | {{interviewee.firstName}} {{interviewee.lastName}}

        .spinner(ng-if="disable_button")
            .double-bounce1
            .double-bounce2

    .modal-footer
        .col-lg-6
            button.btn.btn-block.btn-success(
            ng-click="editReference(new_document)"
            ng-disabled="disable_button") Edit reference
        .col-lg-6
            button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel