div.left-padding-lg.right-padding-lg(draggable-dialog)
    div.modal-header
        h3 New {{ref_selection | ucfirst}} Reference
    .modal-body
        div(ng-if="ref_selection=='webpage'")
            form(name="snapshotForm").form-horizontal
                fieldset
                    .form-group
                        .row.bottom-padding-med
                            input.form-control(
                            placeholder="URL..."
                            ng-disabled="fileUploading"
                            ng-model="snapshotUrl")
                        .row
                            div.spinner(ng-if="fileUploading")
                                div.double-bounce1
                                div.double-bounce2
                            button.btn.btn-success(
                            ng-click="uploadSnapshot(snapshotUrl)"
                            ng-disabled="!snapshotUrl"
                            ng-if="!fileUploading") Upload
                            | &nbsp;
                            button.btn.btn-danger(
                            ng-click="closeDialog()"
                            ng-if="!fileUploading") Cancel
                        .row(ng-if="fileUploading")
                            button.btn.btn-danger(ng-click="closeDialog()") Cancel

        div(ng-if="ref_selection === 'document'")
            .form-horizontal
                fieldset
                    .form-group
                        .row: h4 Please select a document from your computer:
                        .row.bottom-padding-med
                            div.fileUpload.btn.btn-default
                                span Select File
                                input.upload(type="file" nv-file-select uploader="uploader" ng-disabled="uploader.queue.length >= 1")
                        .row: h4: b OR
                        .row: h4 Please supply a remote file url:
                        .row: form(name="remoteFileForm").form-group
                            .col-md-8
                                input.form-control(
                                placeholder="File URL..."
                                ng-model="fileUrl"
                                ng-disabled="fileUploading")
                            .col-md-4
                                input.btn.btn-success(
                                type="button"
                                value="Upload"
                                ng-click="uploadFileByUrl(fileUrl)"
                                ng-if="!fileUploading"
                                ng-disabled="!fileUrl")
                                //input.upload(type="file" nv-file-select uploader="uploader")
                        .row
                            div.spinner(ng-if="fileUploading")
                                div.double-bounce1
                                div.double-bounce2
                    .row.right-padding-lg.left-padding-lg(ng-if="uploader.queue.length>0")
                        table.table
                            thead
                                tr
                                    th
                                        h4 Name
                                    th(ng-show="uploader.isHTML5")
                                        h4 Size
                                    th(ng-show="uploader.isHTML5")
                                        h4 Progress
                                    th
                                        h4 Status
                                    th
                                        h4 Actions
                            tbody
                                tr(ng-repeat="item in uploader.queue")
                                    td
                                        h6(ng-if="!new_document")
                                            strong.wrap-content {{ item.file.name}}
                                        h6
                                            strong
                                                a.wrap-content(ng-if="new_document" href="{{new_document.s3_url}}" target="_blank") {{ item.file.name}}
                                    td(ng-show="uploader.isHTML5" nowrap)
                                        h6 {{ item.file.size/1024/1024|number:2 }} MB
                                    td(ng-show="uploader.isHTML5")
                                        div.progress(style="margin-bottom: 0;")
                                            div.progress-bar(role="progressbar" ng-style="{ 'width': item.progress + '%' }")
                                    td.text-center
                                        span(ng-show="item.isSuccess")
                                            i.glyphicon.glyphicon-ok
                                        //span(ng-show="item.isCancel")
                                        //    i.glyphicon.glyphicon-ban-circle
                                        span(ng-show="item.isError")
                                            i.glyphicon.glyphicon-remove
                                    td(nowrap)
                                        button.btn.btn-success.btn-xs(type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                            span.glyphicon.glyphicon-upload Upload
                                        //| &nbsp;
                                        //button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="!item.isUploading")
                                        //    span.glyphicon.glyphicon-ban-circle Cancel
                                        | &nbsp;
                                        button.btn.btn-danger.btn-xs(ng-click="item.remove()")
                                            span.glyphicon.glyphicon-trash Remove
                    div
                        button.btn.btn-danger.pull-right(ng-click="closeDialog()") Close dialog

        //INTERVIEWS
        div(ng-if="ref_selection==='interview'")
            .modal-form(name="new_human_form")
                .row
                    .col-lg-4
                        button.btn.btn-block.btn-primary(
                        ng-click="intervieweeSelect('new')"
                        ng-disabled="interviewee_selection==='new'") New interviewee
                    .col-lg-4
                        button.btn.btn-block.btn-primary(
                        ng-click="intervieweeSelect('existing')"
                        ng-disabled="interviewee_selection==='existing'") Existing interviewee
                    .col-lg-4
                        button.btn.btn-block.btn-danger(
                        ng-click="closeDialog()"
                        ng-if="!interviewee_selection") Close dialog

                        //button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel
                        //button.btn.btn-danger.pull-right(ng-click="closeDialog()") Close dialog
                .form-horizontal.top-padding-lg(ng-if="interviewee_selection")
                    fieldset
                        //DATE ACCESSED
                        .row.bottom-padding-med
                            .col-md-12
                                rgi-calendar(ng-model="answer_update.human_ref_contact_date", placeholder="Date interviewed (required)...")
                        //INTERVIEWEE COMMENT
                        .row.bottom-padding-med
                            .col-md-12
                                div(
                                    name="reference-comment"
                                    placeholder="Enter relevant interview statements for this question (4,000 character limit) (required)..."
                                    ng-model="answer_update.human_ref_comment"
                                    ta-toolbar="{{taToolbarOptions}}"
                                    text-angular
                                    ta-max-text="{{editorContentMaxLength}}")

                        //existing interviewee
                        div(ng-if="interviewee_selection==='existing'")
                            .row.bottom-padding-med
                                .col-md-9
                                    angucomplete(
                                    id="interviewee_search"
                                    placeholder="Type name to search for existing interviewees..."
                                    selectedobject="selected_interviewee"
                                    localdata="interviewee_list"
                                    searchfields="firstName,lastName,assessments,assessment_countries,assessment_countries"
                                    titlefield="firstName,lastName"
                                    descriptionfield="email"
                                    minlength="1"
                                    inputclass="form-control form-control-small"
                                    matchclass="highlight"
                                    autocomplete="off")
                            // EXISTING INTERVIEWEE
                            .row(ng-if="selected_interviewee")
                                h4 Existing Interviewee
                                .row.left-padding-lg
                                    h5: b Name:
                                    | {{selected_interviewee.title}}
                                    h5: b Email:
                                    | {{selected_interviewee.originalObject.email}}

                            .modal-footer(ng-if="interviewee_selection")
                                .col-lg-6
                                    button.btn.btn-block.btn-success(ng-click="interviewRefSubmit(selected_interviewee)") Create reference
                                .col-lg-6
                                    button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel


                        // NEW INTERVIEWEE
                        div(ng-if="interviewee_selection==='new'")
                            h4 New interviewee
                            .row.form-group
                                // FIRST NAME
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="firstName"
                                    type="text"
                                    placeholder="First name (required)..."
                                    ng-model="new_interviewee.firstName"
                                    autocomplete="off")
                                // LAST NAME
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="lastName"
                                    type="text"
                                    placeholder="Last name (required)..."
                                    ng-model="new_interviewee.lastName"
                                    autocomplete="off")
                            .row.form-group.right-padding-med
                                .pull-left.col-lg-6
                                    select.form-control(ng-model="new_interviewee.role")
                                        option(value="" selected disabled) Select type of organization (required)...
                                        option(ng-repeat="role in role_opts" value="{{role.value}}") {{role.text}}
                                //.pull-left.col-lg-6
                                //    select.form-control(ng-model="new_interviewee.salutation")
                                //        option(value="" selected disabled) Select salutation (required)...
                                //        option(ng-repeat="sal in salutation_opts" value="{{sal}}") {{sal | ucfirst}}

                            .row.form-group
                                // EMAIL
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="email"
                                    type="text"
                                    placeholder="Interviewee email..."
                                    ng-model="new_interviewee.email"
                                    autocomplete="off")
                                // PHONE
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="phone"
                                    type="text"
                                    placeholder="Interviewee phone number..."
                                    ng-model="new_interviewee.phone"
                                    autocomplete="off")

                            .row.form-group
                                // TITLE
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="title"
                                    type="text"
                                    placeholder="Interviewee position..."
                                    ng-model="new_interviewee.title"
                                    autocomplete="off")
                                // ORGANIZATION
                                .pull-left.col-lg-6
                                    input.form-control(
                                    name="organization"
                                    type="text"
                                    placeholder="Organization name (required)..."
                                    ng-model="new_interviewee.organization"
                                    autocomplete="off")

                            .modal-footer(ng-if="interviewee_selection")
                                .col-lg-6
                                    button.btn.btn-block.btn-success(ng-click="interviewRefSubmit(new_interviewee)") Create reference
                                .col-lg-6
                                    button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel