.left-padding-lg.right-padding-lg(rgi-draggable-dialog)
    .modal-header
        h3 New Document Reference
    .modal-body
        form(name="newDocumentForm").form-horizontal
            // NEW DOC
            fieldset
                div(ng-if="new_document.status!=='submitted'")
                    // TITLE
                    .row
                        .form-group.top-padding-med
                            input.form-control(
                            name="title"
                            type="text"
                            required
                            placeholder="Title (required)..."
                            ng-model="new_document.title"
                            autocomplete="off")

                    // DOC TYPE
                    .row
                        .form-group
                            select.form-control(
                            ng-model="new_document.type"
                            required)
                                option(value="" selected disabled) Select type (required)...
                                option(ng-repeat="type in new_doc_type" value="{{type.value}}") {{type.text}}
                    // AUTHOR
                    .row(ng-repeat="author in new_document.authors")
                        .pull-left.col-lg-5.form-group
                            input.form-control(
                            name="author_first"
                            type="text"
                            placeholder="Author first name..."
                            ng-model="author.first_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off")
                        .col-lg-2
                        .pull-left.col-lg-5.form-group
                            input.form-control(
                            name="author_last"
                            type="text"
                            placeholder="Author last name..."
                            ng-model="author.last_name"
                            ng-pattern="humanNamePattern"
                            autocomplete="off")
                        .pull-left.col-lg-1.right-padding-med(ng-if="$last")
                            glyphicon.text-success.glyphicon.glyphicon-plus-sign(ng-click="authorPush()")
                        .pull-left.col-lg-1(ng-if="!$last")
                            glyphicon.text-danger.glyphicon.glyphicon-minus-sign(ng-click="authorPop($index)")


                    // SOURCE
                    .row
                        .col-lg-12.form-group
                            input.form-control.right-padding-med(
                            name="source"
                            type="url"
                            required
                            ng-disabled="source"
                            placeholder="Source URL (required)..."
                            ng-model="new_document.source"
                            autocomplete="off")

                    .row
                        // PUBLISHER
                        .pull-left.col-lg-5.form-group
                            input.form-control(
                            name="publisher"
                            type="text"
                            placeholder="Publisher..."
                            ng-model="new_document.publisher"
                            autocomplete="off")
                        .col-lg-2

                        // YEAR
                        .pull-left.col-lg-5.form-group
                            input.form-control(
                            name="year"
                            type="number"
                            placeholder="Year published (required)..."
                            ng-model="new_document.year"
                            ng-pattern="yearPattern"
                            required
                            autocomplete="off")

                // EXISTING DOC
                div(ng-if="new_document.status==='submitted'")
                    .row
                        // TITILE
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Title:
                                h5(ng-if="new_document.title")  {{new_document.title | ucfirst}}
                                h5(ng-if="!new_document.title")   N/A
                        // DOC TYPE
                        .col-md-2
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Type:
                                h5(ng-if="new_document.type")  {{new_document.type| ucfirst}}
                                h5(ng-if="!new_document.type")  N/A
                    //- AUTHOR
                    .row
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Author(s):
                                h5(ng-repeat="author in new_document.authors" ng-if="new_document.authors")
                                    text(ng-if="!$last") {{author.first_name | ucfirst}} {{author.last_name| ucfirst}},
                                    text(ng-if="$last") {{author.first_name | ucfirst}} {{author.last_name| ucfirst}}
                                h5(ng-if="!new_document.authors")  N/A
                        // SOURCE
                        .col-md-2
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Source:
                                h5(ng-if="new_document.source")  {{new_document.source}}
                                h5(ng-if="!new_document.source")  N/A

                    .row
                        // PUBLISHER
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Publisher:
                                h5(ng-if="new_document.publisher")  {{new_document.publisher}}
                                h5(ng-if="!new_document.publisher")  N/A
                        // YEAR
                        .col-md-2
                        .col-md-5
                            .form-group.pull-left
                                h5
                                    b Year:
                                h5(ng-if="new_document.year")  {{new_document.year}}
                                h5(ng-if="!new_document.year")  N/A

                .row
                    // LOCATION IN DOC
                    .pull-left.col-lg-5.form-group
                        input.form-control(
                        name="location"
                        type="text"
                        placeholder="Page number(s) (required)..."
                        ng-model="new_ref_location"
                        ng-pattern="numericRangePattern"
                        required
                        autocomplete="off")
                    .col-lg-2

                    // DATE ACCESSED
                    rgi-calendar(ng-model="ref_date_accessed", placeholder="Date accessed...")

                //- COMMENT
                .row#comment
                    .col-lg-12.row.form-group
                        textarea.form-control(
                        name="comment"
                        placeholder="Comments..."
                        ng-model="answer.new_ref_comment"
                        autocomplete="off")

        .spinner(ng-if="disable_button")
            .double-bounce1
            .double-bounce2

    .modal-footer
        .col-lg-6
            button.btn.btn-block.btn-success(
            ng-click="documentRefSubmit(new_document)"
            ng-disabled="disable_button || newDocumentForm.$invalid") Create reference
        .col-lg-6
            button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel