.container-fluid.page-container
    .well
        div.page-well
            img.mapsicon.left-padding-lg(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
            legend.h3.page-header {{assessment.country}} {{assessment.year}} {{assessment.version | ucfirst}} Assessment
                .pull-right.text-danger(ng-if="current_user.isExternalReviewer() && assessment_counters.complete / assessment_counters.length < externalThreshold") Assessment not complete
            .pull-right
                form.form-inline(ng-if="!current_user.isExternalReviewer() || assessment_counters.complete / assessment_counters.length >= externalThreshold")
                    .form-group
                        input.form-control(
                        ng-model="searchText"
                        placeholder="Filter")
                    .form-group.margin-left-med
                        select.form-control(
                        ng-model="sortOrder"
                        ng-options="item.value as item.text for item in sortOptions")
                br
                div(ng-if="!current_user.isSupervisor()")
                    button.btn.btn-success.pull-right(
                    ng-click="submitTrialAssessmentDialog()"
                    ng-if="current_user._id === assessment.edit_control && assessment.status==='trial_started'") Submit trial
                    button.btn.btn-success.pull-right(
                    ng-click="submitAssessmentDialog()"
                    ng-if="current_user._id === assessment.edit_control && ['researcher_started', 'reviewer_started'].indexOf(assessment.status) > -1") Submit assessment
                    button.btn.btn-success.pull-right(
                    ng-click="resubmitAssessmentDialog()"
                    ng-if="current_user._id === assessment.edit_control && ['review_researcher', 'review_reviewer'].indexOf(assessment.status) > -1") Resubmit assessment
                div(ng-if="current_user.isSupervisor()")
                    button.btn.btn-success.pull-right(
                    ng-click="moveAssessmentDialog()") Move assessment

            .pull-left.left-padding-lg.bottom-padding-lg
                .row(ng-if="current_user.isSupervisor()")
                    | Researcher:
                    a(href="mailto:{{assessment.researcher_ID.email}}")  {{assessment.researcher_ID.firstName}}  {{assessment.researcher_ID.lastName}}
                .row(ng-if="current_user.isSupervisor()")
                    | Reviewer:
                    a(
                    ng-if="assessment.reviewer_ID"
                    href="mailto:{{assessment.reviewer_ID.email}}")  {{assessment.reviewer_ID.firstName}}  {{assessment.reviewer_ID.lastName}}
                    em(ng-if="!assessment.reviewer_ID")  N/A
                .row
                    | Status: {{assessment.status | addSpaces | ucfirst}}
                .row
                    | Last edited by
                    a(
                    href="mailto:{{assessment.last_modified.user.email}}"
                    ng-if="current_user.isSupervisor()")  {{assessment.last_modified.user.firstName}}  {{assessment.last_modified.user.lastName}}
                    text(ng-if="!current_user.isSupervisor()")  {{assessment.last_modified.user.role}}
                    |  on
                    em  {{assessment.last_modified.date | date:'MM/dd/yyyy @ h:mma' : timezone}}
                    //span(ng-repeat="mod in assessment.modified")
                    //    em(ng-show="$last")  {{mod.modified_date | date}}
                //.row
                //    | {{assessment.status | ucfirst}} on
                //    em  {{assessment.assignment.assigned_date | date}}

                .row Assessment length: {{assessment_counters.length}}
                .row
                    text(ng-if="assessment.status==='under_review'")  Reviewed: {{assessment_counters.approved + assessment_counters.flagged}} (
                        text(ng-if="assessment_counters.approved + assessment_counters.flagged!==0") {{(((assessment_counters.approved + assessment_counters.flagged)/assessment_counters.length)*100 | number :2)}}
                        text(ng-if="assessment_counters.approved + assessment_counters.flagged===0") 0
                    text(ng-if="assessment.status!=='under_review'")  Completed: {{assessment_counters.complete}} (
                        text(ng-if="assessment_counters.complete!==0") {{((assessment_counters.complete/assessment_counters.length)*100 | number :2)}}
                        text(ng-if="assessment_counters.complete===0") 0
                    | %)
                .row
                    | Flagged: {{assessment_counters.flagged}}
                .row
                    | Approved: {{assessment_counters.approved}}
                .row
                    text(ng-if="['researcher_started', 'reviewer_started'].indexOf(assessment.status) > -1") Completed: {{assessment_counters.submitted}}
                    text(ng-if="['review_researcher', 'review_reviewer'].indexOf(assessment.status) > -1") Completed: {{assessment_counters.resubmitted}}
                .row
                    | Unresolved: {{assessment_counters.unresolved}}
                .row
                    | Unfinalized: {{assessment_counters.length - assessment_counters.finalized}}
                .row(ng-if="current_user.isSupervisor()")
                    | Supervisors:
                    text(ng-repeat="sup in assessment.supervisor_ID")
                        |  {{sup.firstName}} {{sup.lastName}}
                        span(ng-if="!$last") ,


            rgi-assessment-detail-table(ng-if="!current_user.isExternalReviewer() || assessment_counters.complete / assessment_counters.length >= externalThreshold")
            //rgi-assessment-detail-table(ng-if="assessment_counters.complete / assessment_counters.length < externalThreshold")
        div(ng-if="current_user.isExternalReviewer() && assessment_counters.complete / assessment_counters.length < externalThreshold")
            .row