.container-fluid.page-container
    .well
        .page-well
            legend.h3.page-header Raw questions
            .row
                .left-padding-lg.right-padding-lg.top-padding-med
                    .row.pull-left.left-padding-lg.right-padding-lg(ng-if="identity.currentUser.isSupervisor()")
                        .btn.btn-success(
                            ng-click="downloadCsv()"
                            ng-csv="questions"
                            csv-header="questionListHeader"
                            csv-column-order="questionListHeader"
                            filename="raw_questions.csv"
                            ng-disabled="busy"
                        ) Download Raw CSV
                    .pull-right
                        form.form-inline
                            .form-group
                                input.form-control(ng-model="search_text", placeholder="Filter")
            .row
                .top-padding-lg(ng-class="{'assessment-list-supervisor': current_user.isSupervisor()}")
                    table.table.table-hover
                        thead
                            tr
                                th.col-md-1 Order
                                th.col-md-1 Version
                                th.col-md-10 Text
                        tbody
                            tr(ng-repeat="question in questions | filter: search_text | orderBy: 'question_order'")
                                td {{question.question_order}}
                                td {{question.question_v}}
                                td {{question.question_text}}