.container-fluid.page-container
    .well
        div.page-well
            legend.h3.page-header Question {{question.question_order}}. {{question.question_text}}
                small.pull-right version {{question.question_v}}
            .row.bottom-padding-lg: div
                div.col-md-6
                    h4 Information:
                    div.right-padding-lg.left-padding-lg
                        .row(ng-if="question.assessments.length > 0")
                            h5 Assessments
                            text.left-padding-med(ng-repeat="assessment in question.assessments")
                                |  {{assessment}}
                                text(ng-if="!$last") ,
                        .row
                            h5 Indicator
                            text.left-padding-med {{question.indicator}}
                div.col-md-6
                    .pull-right
                        button.btn.btn-primary(
                        ng-click="questionUpdate()"
                        ng-disabled="profileForm.$invalid") Save question
                        | &nbsp;
                        //button.btn.btn-danger(ng-click="deleteConfirmDialog()" disabled) Delete question
                        //| &nbsp;
                        ////TODO create question version dialog
                        //button.btn.btn-info(ng-click="" disabled) Previous versions
                        //| &nbsp;
                        button.btn.btn-warning(ng-click="questionClear()") Reset question
                        | &nbsp;
                        a.btn.btn-default(href="/admin/question-admin") Cancel

            hr
            .row.left-padding-med.right-padding-med.bottom-padding-lg: div
                h4 Edit:
                .form-horizontal(name="question_content_form").row-fluid.right-padding-lg.left-padding-lg
                    fieldset
                        .row: #question-type-block.row-fluid.top-padding-med
                            label.col-md-3.control-label(form="dejure")
                                | Dejure? &nbsp;
                                input(type="checkbox", ng-model="question.dejure")
                            //label.col-md-2.control-label(form="use")
                            //    | Use in assessments? &nbsp;
                            //    input(type="checkbox" ng-model="question.question_use")
                            label.col-md-2.control-label(form="mode") Component
                            .col-md-3
                                select.form-group.form-control(
                                ng-model="question.component"
                                ng-options="item.value as item.text for item in component_options")
                            label.col-md-2.control-label(form="type") Question Type
                            .col-md-2
                                select.form-group.form-control(
                                ng-model="question.question_type"
                                ng-options="item.value as item.text for item in type_options")
                        .row: #question-details-block.row-fluid.top-padding-med
                            label.col-md-2.control-label(form="label") Question Label
                            .col-md-1
                                input.form-group.form-control(
                                name="label"
                                ng-model="question.question_label")
                            label.col-md-2.control-label(form="precept") NRC Precept
                            .col-md-4
                                select.form-group.form-control(
                                ng-model="question.precept"
                                ng-options="item.value as item.text for item in precept_options")
                        .row: #question-text-block.row-fluid.top-padding-med
                            label(form="text") Question Text
                            .form-group.left-padding-lg.right-padding-lg(required)
                                textarea.form-control(
                                name="question_text"
                                type="textbox"
                                ng-model="question.question_text")
                        .row: #question-dependency-block.row-fluid.top-padding-med
                            .pull-left
                                label.col-md-2.control-label(form="dependant")
                                    | Dependant? &nbsp;
                                    input(type="checkbox" ng-model="question.dependant")
                                label.col-md-1.control-label Link to
                                .col-md-4
                                    select.form-group.form-control(
                                    ng-model="linkedQuestion"
                                    ng-options="item as item.question_text for item in questions | filter:{question_text: '!' + question.question_text}"
                                    ng-change="resetLinkedOption()")
                                .col-md-4
                                    select.form-group.form-control(
                                    ng-if="linkedQuestion.question_criteria.length > 0"
                                    ng-model="question.linkedOption"
                                    ng-options="item._id as item.text|limitTo:80 for item in linkedQuestion.question_criteria")
                        .row(data-as-sortable="sortableOptions", data-ng-model="question.question_criteria"): div(id="question_options_div").row-fluid.top-padding-med
                            .row.top-padding-lg
                                .col-md-1: b: p.text-right Option Value
                                .col-md-1: b: p.text-right Option Letter
                                .col-md-9: b: p Option Text
                            .row.sortable-item(name="question_options_form", ng-repeat="choice in question.question_criteria", data-as-sortable-item)
                                div(data-as-sortable-item-handle)
                                    .col-md-1
                                        .form-group
                                            input.form-control(
                                            name="choiceValue"
                                            type="number"
                                            ng-model="choice.value"
                                            required)
                                    .col-md-1
                                        .form-group
                                            input.form-control(
                                            name="choiceLabel"
                                            ng-model="choice.letter"
                                            required)
                                    .col-md-9
                                        .form-group
                                            textarea.form-control(
                                            name="choice"
                                            type="textbox"
                                            placeholder="Enter text"
                                            ng-model="choice.text"
                                            required)
                                    .col-md-1
                                        button.btn.btn-danger(
                                        ng-click="questionOptionDelete($index)"
                                        ng-disabled="question.question_choices.length==1") Delete
                        .row: div.row-fluid.right-padding-lg.left-padding-lg.bottom-padding-lg.top-padding-med
                            .pull-right
                                button.btn.btn-success(ng-click="questionOptionAdd()") Add Option

                        .row: div(id="guidance_text_div").row-fluid.right-padding-lg.left-padding-lg
                            label Guidance Text
                            .form-group.left-padding-lg.right-padding-lg(required)
                                rgi-wysiwyg(name="guidance_text", ng-model="question.question_guidance_text")

                        .row: div(id="dependancy_div").row-fluid.right-padding-lg.left-padding-lg
                            label Dependencies
                            .form-group.left-padding-lg.right-padding-lg
                                rgi-wysiwyg(name="dependancy_text", ng-model="question.question_dependancies")

            .row.left-padding-med.right-padding-med.bottom-padding-lg: div
                rgi-comments(update="question")
