.navbar-right(ng-controller="rgiNavBarLoginCtrl")
    //- LOGIN NAVBAR
    form.navbar-form.right-padding-lg(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(
                placeholder="Username"
                ng-model="username")
        .form-group
            input.form-control(
                type="password"
                placeholder="Password"
                ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)")
            span.glyphicon.glyphicon-log-in(title="Login")  Login
        //- TODO add forgot password functionality
        button.btn.btn-warning(ng-click="" disabled) Forgot Password


    //- AUTHENTICATED NAVBAR
    ul.nav.navbar-nav.navbar-right.right-padding-lg(ng-show="identity.isAuthenticated()")

        //- REGULAR USER
        ul.nav.navbar-nav(ng-hide="identity.currentUser.isSupervisor()")
            li
                a(href="/assessments"
                    title="Assessment dashboard") Assessments
        //- ADMIN USER
        ul.nav.navbar-nav.dropdown
            li.dropdown(ng-show="identity.currentUser.isSupervisor()")
                a.dropdown-toggle(data-toggle="dropdown") Assessment Admin
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="/admin/assessment-admin") All assessments
                    li(ng-repeat="version in versions")
                        a(href="/admin/assessment-admin/subs/{{version.url}}") {{version.name}}

        //- ADMIN DROPDOWN
        ul.nav.navbar-nav.dropdown
            li.dropdown(ng-show="identity.currentUser.isSupervisor()")
                a.dropdown-toggle(
                    href=""
                    data-toggle="dropdown") Admin
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="/admin/user-create") Create User
                    li
                        a(href="/admin/user-admin") User Admin
                    li
                        a(href="/admin/question-admin") Questions Admin
                    li
                        a(href="/admin/documents-admin") Document Admin
      
        //- PROFILE
        ul.nav.navbar-nav
            li
                a(href="/profile"
                    title="Profile") {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}

        //- LOGOUT
        ul.nav.navbar-nav
            li
                a.glyphicon.glyphicon-log-out(
                    href=""
                    ng-click="signout()"
                    title="Logout")
