.container-fluid.page-container
    .well
        div.page-well
            form.form-horizontal(name='profileForm')
                fieldset.left-padding-lg.right-padding-lg
                    legend.h3.page-header {{::current_user.firstName}} {{::current_user.lastName}}'s {{::current_user.role|role|ucfirst}} Profile
                    .row.right-padding-lg.top-padding-med
                        .row
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="first_name") First Name
                                    .col-md-8
                                        input.form-control(
                                        name="first_name"
                                        type="text"
                                        placeholder="First Name"
                                        ng-pattern="humanNamePattern"
                                        ng-model="current_user.firstName"
                                        required)
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="last_name") Last Name
                                    .col-md-8
                                        input.form-control(
                                        name="last_name"
                                        type="text"
                                        placeholder="Last Name"
                                        ng-pattern="humanNamePattern"
                                        ng-model="current_user.lastName"
                                        required)
                    .row.right-padding-lg
                        .row
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="username") Username
                                    .col-md-8
                                        input.form-control(
                                        name="username"
                                        type="text"
                                        placeholder="Username"
                                        value="{{::current_user.username}}"
                                        readonly)
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="email") Email
                                    .col-md-8
                                        input.form-control(
                                        name="email"
                                        type="email"
                                        placeholder="Email"
                                        ng-model="current_user.email"
                                        required)
                    .row.right-padding-lg
                        .row
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="password") Password
                                    .col-md-8
                                        input.form-control(
                                        name="password"
                                        type="password"
                                        ng-pattern="passwordPattern"
                                        ng-change="checkPasswordsMatch(false)"
                                        ng-keyup="checkPassword()"
                                        ng-paste="checkPassword()"
                                        ng-model="password")
                            .col-md-6
                                .form-group
                                    label.col-md-4.control-label(form="address") Address
                                    .col-md-8
                                        input.form-control(
                                        name="address"
                                        type="address"
                                        placeholder="Address"
                                        ng-model="current_user.address")
                    .row.right-padding-lg
                        .form-group
                            label.col-md-2.control-label(form="password") Repeat Password
                            .col-md-4
                                input.form-control(
                                name="password_rep"
                                type="password"
                                ng-change="checkPasswordsMatch(true)"
                                ng-disabled="profileForm.password.$invalid || (password === undefined) || (password.length === 0)"
                                ng-model="password_rep")


                    .form-group.right-padding-lg
                        .col-md-10.col-md-offset-2
                            .pull-right
                                button.btn.btn-primary(
                                ng-click="update()"
                                ng-disabled="profileForm.$invalid || (password !== password_rep)") Submit
                                | &nbsp;
                                a.btn.btn-default(href="/") Cancel
