.container-fluid.page-container
    .well
        div.page-well
            form.form-horizontal(name='profileForm')
                fieldset.left-padding-lg.right-padding-lg
                    legend.h3.page-header {{fullName}}'s {{role|role|ucfirst}} Profile
                    .row.right-padding-lg.top-padding-med
                        .form-group
                            span(show-errors="{skipFormGroupCheck: true}")
                                label.col-md-2.control-label(form="first_name") First Name
                                .col-md-4
                                    input.form-control(
                                    name="first_name"
                                    type="text"
                                    placeholder="First Name"
                                    ng-model="current_user.firstName"
                                    required)
                            span(show-errors="{skipFormGroupCheck: true}")
                                label.col-md-2.control-label(form="last_name") Last Name
                                .col-md-4
                                    input.form-control(
                                    name="last_name"
                                    type="text"
                                    placeholder="Last Name"
                                    ng-model="current_user.lastName"
                                    required)
                    .row.right-padding-lg
                        .form-group
                            span
                                label.col-md-2.control-label(form="username") Username
                                .col-md-4
                                    input.form-control(
                                    name="username"
                                    type="text"
                                    placeholder="Username"
                                    ng-model="current_user.username"
                                    readonly)
                            span(show-errors="{skipFormGroupCheck: true}")
                                label.col-md-2.control-label(form="email") Email
                                .col-md-4
                                    input.form-control(
                                    name="email"
                                    type="email"
                                    placeholder="Email"
                                    ng-model="current_user.email"
                                    required)
                    .row.right-padding-lg
                        .form-group
                            label.col-md-2.control-label(form="password") Password
                            .col-md-4
                                input.form-control(
                                name="password"
                                type="password"
                                ng-model="password")
                            label.col-md-2.control-label(form="address") Address
                            .col-md-4
                                input.form-control(
                                name="address"
                                type="address"
                                placeholder="Address"
                                ng-model="current_user.address")
                    .row.right-padding-lg
                        .form-group
                            label.col-md-2.control-label(form="password") Repeat Password
                            .col-md-4
                                input.form-control(
                                name="password"
                                type="password"
                                ng-model="password_rep")


                    .form-group.right-padding-lg
                        .col-md-10.col-md-offset-2
                            .pull-right
                                button.btn.btn-primary(
                                ng-click="update()"
                                ng-disabled="profileForm.$invalid || (password !== password_rep)") Submit
                                | &nbsp;
                                a.btn.btn-default(href="/") Cancel
