.container
	.well
		form.form-horizontal(name='profileForm')
			fieldset
				//- Profile page
				legend {{fullName}}'s {{role | capitalize}} Profile
				.row.right-padding-lg
					.form-group
						label.col-md-2.control-label(form="fname") First Name
						.col-md-4
							input.form-control(
								name="fname"
								type="text"
								placeholder="First Name"
								ng-model="fname"
								required)
						label.col-md-2.control-label(form="lname") Last Name
						.col-md-4
							input.form-control(
								name="lname"
								type="text"
								placeholder="Last Name"
								ng-model="lname"
								required)
				.row.right-padding-lg
					.form-group
						label.col-md-2.control-label(form="username") Username
						.col-md-4
							input.form-control(
								name="username"
								type="text"
								placeholder="Username"
								ng-model="username"
								readonly)
						label.col-md-2.control-label(form="email") Email
						.col-md-4
							input.form-control(
								name="email"
								type="email"
								placeholder="Email"
								ng-model="email"
								required)
				.row.right-padding-lg
					.form-group
						label.col-md-2.control-label(form="password") Password
						.col-md-4
							input.form-control(
								name="password"
								type="password"
								ng-model="password")
				.row.right-padding-lg
					.form-group
						label.col-md-2.control-label(form="password") Repeat Password
						.col-md-4
							input.form-control(
								name="password"
								type="password"
								ng-model="password_rep")
				
				
				.form-group.right-padding-lg
					.col-md-10.col-md-offset-2
						.pull-right
							button.btn.btn-primary(
								ng-click="update()"
								ng-disabled="signupFormm.$invalid || (password && !password_rep) || (password !== password_rep)") Submit
							| &nbsp;
							a.btn.btn-default(href="/") Cancel