.container.top-padding-med
	.well.left-padding-lg
		div.left-padding-lg.right-padding-lg.top-padding-med
			form.form-horizontal(name="recoverPasswordForm")
				fieldset.left-padding-lg.right-padding-lg
					legend.h3 Recover Password
					.row.right-padding-lg.top-padding-med
						.form-group
							label.col-md-2.control-label(form="resetPasswordForm") Email
							.col-md-4
								input.form-control(
								name="email"
								type="email"
								ng-model="email")
							.col-md-4.col-md-offset-2
							.pull-right
								button.btn.btn-primary(
								ng-click="recoverPassword()"
								ng-disabled="recoverPasswordForm.$invalid || recoverPasswordForm.$pristine") Recover
								| &nbsp;
								a.btn.btn-danger(href="/") Cancel
