.container.top-padding-med
	.well.left-padding-lg
		div.left-padding-lg.right-padding-lg.top-padding-med
			form.form-horizontal(name="resetPasswordForm")
				fieldset.left-padding-lg.right-padding-lg
					legend.h3 Reset Password
					.row.right-padding-lg.top-padding-med
						.form-group
							label.col-md-2.control-label(form="resetPasswordForm") Password
							.col-md-4
								input.form-control(
								name="password"
								type="password"
								ng-model="password")
							label.col-md-2.control-label(form="resetPasswordForm") Repeat Password
							.col-md-4
								input.form-control(
								name="password"
								type="password"
								ng-model="passwordRepeat")

					.form-group.right-padding-lg
						.col-md-10.col-md-offset-2
							.pull-right
								button.btn.btn-primary(
								ng-click="resetPassword()"
								ng-disabled="resetPasswordForm.$invalid || (!password || !passwordRepeat) || (password !== passwordRepeat)") Reset
								| &nbsp;
								a.btn.btn-default(href="/") Cancel
