div.left-padding-lg.right-padding-lg
   h3 Document edit form
      .row.left-padding-lg(id="interviewee_form")
         .form-horizontal
            //INTERVIWEE EDIT
            fieldset
               div
                  .row
                     .form-group
                        // FIRST NAME
                        .pull-left.col-lg-5
                           label
                              small First name:
                           input.form-control(
                           name="first_name"
                           type="text"
                           placeholder="First name..."
                           ng-model="new_interviewee_data.firstName"
                           autocomplete="off")
                        // LAST NAME
                        .pull-left.col-lg-6
                           label
                              small Last name:
                           input.form-control(
                           name="last_name"
                           type="text"
                           placeholder="Last name..."
                           ng-model="new_interviewee_data.lastName"
                           autocomplete="off")
               div
                  .row
                     .form-group
                        // PHONE NUMBER
                        .pull-left.col-lg-5
                           label
                              small Phone number:
                           input.form-control(
                           name="phone_number"
                           type="text"
                           placeholder="Phone number..."
                           ng-model="new_interviewee_data.phone"
                           autocomplete="off")
                        // EMAIL
                        .pull-left.col-lg-6
                           label
                              small Email:
                           input.form-control(
                           name="email"
                           type="text"
                           placeholder="Email..."
                           ng-model="new_interviewee_data.email"
                           autocomplete="off")
               div
                  .row
                     .form-group
                        // TITLE
                        .pull-left.col-lg-5
                           label
                              small Title:
                           input.form-control(
                           name="title"
                           type="text"
                           placeholder="Title..."
                           ng-model="new_interviewee_data.title"
                           autocomplete="off")
                        // ORG
                        .pull-left.col-lg-6
                           label
                              small Organization:
                           input.form-control(
                           name="organization"
                           type="text"
                           placeholder="Organization..."
                           ng-model="new_interviewee_data.organization"
                           autocomplete="off")
               .row.left-padding-med.right-padding-med
                  label
                     small Role:
                  select.form-group.form-control(ng-model="new_interviewee_data.role" ng-options="role as (role | ucfirst) for role in roles")

               //- BUTTON CONTROL
               div.top-padding-med.bottom-padding-lg
                  .col-lg-6
                     button.btn.btn-block.btn-success(
                     ng-click="intervieweeSave(new_interviewee_data)") Save interviewee
                  .col-lg-6
                     button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel

