div.top-padding-med
   .well
      legend New webpage reference
      .row.left-padding-lg(id="new_document_form")
         .form-horizontal
            fieldset
                // EXISTING DOC
                //TODO ALLOW USER TO SELECT FROM EXISTING REFERENCE SET
                //div.row.form-group.col-lg-11
                //    label Existing reference
                //    select.form-group.form-control.pull-left(ng-model="existing_ref")
                //        option(ng-repeat="ref in existing_ref" value="{{ref.value}}") {{ref.text}}
                // NEW DOC
                label New reference
                div.row.form-group.col-lg-11
                    input.form-control.right-padding-med(
                    name="title"
                    type="text"
                    placeholder="Website title (required)..."
                    ng-model="answer.web_ref_title"
                    autocomplete="off"
                    required)
                div.row.form-group.col-lg-11
                    input.form-control.right-padding-med(
                    name="url"
                    type="text"
                    placeholder="Website URL (required)..."
                    ng-model="answer.web_ref_url"
                    autocomplete="off"
                    required)
                div.row.form-group.col-lg-11
                    input.form-control.right-padding-med(
                    name="comment"
                    type="text"
                    placeholder="Comments..."
                    ng-model="answer.web_ref_comment"
                    autocomplete="off")

                div.row.form-group.col-lg-11
                    datepicker(
                    date-format="{{date_format}}")
                        input.form-control(
                        ng-model="answer.web_ref_access_date"
                        type="text"
                        placeholder="Date accessed...")

                //- BUTTON CONTROL
                div.col-lg-5
                    button.btn.btn-block.btn-success(
                    ng-click="webRefSubmit()"
                    ng-disabled="new_web_form.$invalid"
                    ) Create reference
                div.col-lg-5
                    button.btn.btn-block.btn-danger(ng-click="closeDialog()") Cancel
