.container-fluid.page-container
    .well
        .page-well
            form.form-horizontal(name="createUserForm" id="createUserForm")
                fieldset.left-padding-lg.right-padding-lg
                    legend.h3 New User Information
                    .top-padding-med.right-padding-lg
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.salutation") Salutation
                            .col-md-10
                                select.form-control(
                                name="salutation"
                                id="createUserForm.salutation"
                                ng-model="new_user_data.salutation"
                                ng-options="title for title in ['Mr.', 'Mrs.', 'Miss', 'Ms.', 'Dr.', 'Prof.']")
                                    option(value="" selected disabled) Select salutation...
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.firstName") First Name *
                            .col-md-10
                                input.form-control(
                                name="firstName"
                                id="createUserForm.firstName"
                                type="text"
                                placeholder="First Name"
                                ng-pattern="humanNamePattern"
                                ng-model="new_user_data.firstName"
                                autocomplete="off"
                                required)
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.lastName") Last Name *
                            .col-md-10
                                input.form-control(
                                name="lastName"
                                id="createUserForm.lastName"
                                type="text"
                                placeholder="Last Name"
                                ng-pattern="humanNamePattern"
                                ng-model="new_user_data.lastName"
                                autocomplete="off"
                                required)
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.title") Title
                            .col-md-10
                                input.form-control(
                                name="title"
                                id="createUserForm.title"
                                type="text"
                                placeholder="Title"
                                ng-model="new_user_data.title"
                                autocomplete="off")
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.position") Position
                            .col-md-10
                                input.form-control(
                                name="position"
                                id="createUserForm.position"
                                type="text"
                                placeholder="Position"
                                ng-model="new_user_data.position"
                                autocomplete="off")
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.organization") Organization
                            .col-md-10
                                input.form-control(
                                name="organization"
                                id="createUserForm.organization"
                                type="text"
                                placeholder="Organization"
                                ng-model="new_user_data.organization"
                                autocomplete="off")

                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.username") Username *
                            .col-md-10
                                input.form-control(
                                name="username"
                                id="createUserForm.username"
                                type="text"
                                placeholder="Username"
                                ng-model="new_user_data.username"
                                autocomplete="off"
                                required)
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.role") Role *
                            .col-md-10
                                select.form-control(
                                name="role"
                                id="createUserForm.role"
                                ng-model="new_user_data.role"
                                ng-options="role as (role|role|ucfirst) for role in roles"
                                required)
                                    option(value="" selected disabled) Select role...
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.email") Email *
                            .col-md-10
                                input.form-control(
                                name="email"
                                id="createUserForm.email"
                                type="email"
                                placeholder="Email"
                                ng-model="new_user_data.email"
                                required
                                autocomplete="off")
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.phoneNumber") Phone Number
                            .col-md-10
                                input.form-control(
                                name="phoneNumber"
                                id="createUserForm.phoneNumber"
                                type="tel"
                                placeholder=""
                                ng-model="new_user_data.phoneNumber"
                                ui-mask="(999) 999-9?9?9?9?9"
                                autocomplete="off")
                        .form-group
                            label.col-md-2.control-label(form="createUserForm" for="createUserForm.address") Address
                            .col-md-10
                                input.form-control(
                                name="address"
                                id="createUserForm.address"
                                type="text"
                                placeholder="Address"
                                ng-model="new_user_data.address"
                                autocomplete="off")
                        //.form-group
                        //	label.col-md-2.control-label(form="language") Preferred Language
                        //	.col-md-10
                        //		input.form-control(name="language", type="text", placeholder="Language", ng-model="language")

                        .form-group
                            .col-md-10.col-md-offset-2
                                .pull-right
                                    button.btn.btn-primary(ng-click="userCreate()", ng-disabled="createUserForm.$invalid") Submit
                                    | &nbsp;
                                    a.btn.btn-default(href="/") Cancel
