.container.top-padding-med
    .well.left-padding-lg
        //div {{assessments}}
        .left-padding-lg.right-padding-lg.top-padding-med
            form.form-horizontal(name='request_form')
                fieldset
                    //- general contact form
                    legend.h3 Contact system administrator for technical assistance
                    //.row.left-padding-lg
                    //    | Due to technical issues, please contact tech support directly at
                    //    =' '
                    //    a(href='mailto:tech-support@resourcegovernance.org?Subject=RGI Tool Issue') tech-support@resourcegovernance.org
                    .row.right-padding-lg.top-padding-med
                        .col-md-6
                            .form-group
                                label.col-md-4.control-label(form="first_name") First Name
                                .col-md-8
                                    input.form-control(
                                    name="first_name"
                                    type="text"
                                    placeholder="First Name"
                                    ng-model="request.first_name"
                                    ng-pattern="humanNamePattern"
                                    required)
                        .col-md-6
                            .form-group
                                label.col-md-4.control-label(form="last_name") Last Name
                                .col-md-8
                                    input.form-control(
                                    name="last_name"
                                    type="text"
                                    placeholder="Last Name"
                                    ng-model="request.last_name"
                                    ng-pattern="humanNamePattern"
                                    required)
                    .row.right-padding-lg
                        .col-md-6
                            .form-group
                                label.col-md-4.control-label(form="email") Email
                                .col-md-8
                                    input.form-control(
                                    name="email"
                                    type="email"
                                    placeholder="Email"
                                    ng-model="request.email"
                                    required)
                        .col-md-6(ng-if="assessments")
                            .form-group
                                label.col-md-4.control-label(form="assessment") Assessment
                                .col-md-8
                                    select.form-control(
                                    name="assessments_selector"
                                    ng-model="request.assessment"
                                    ng-options="assessment.country as (assessment.country + ' ' + assessment.year + ' ' + (assessment.mineral|addSpaces) + ' ' + assessment.version) for assessment in assessments")

                    #issue_selection_div.bottom-padding-med.left-padding-lg.right-padding-lg
                        legend What type of issue are you having (required)?
                        ng-form(name="issue_form")
                            .form-group.left-padding-lg(ng-repeat="issue in issue_selection track by issue.value" required)
                                input(
                                type="radio"
                                name="issue.name"
                                ng-value="issue"
                                checked=""
                                id="{{::issue.value}}"
                                ng-model="request.issue"
                                required)
                                label.thin-label.left-padding-med(for="{{::issue.value}}") {{::issue.name}}
                            .form-group.left-padding-lg.right-padding-lg
                                textarea.form-control(
                                type="text"
                                ng-model="request.issue_description"
                                placeholder="Please provide a brief description of the issue (required)."
                                required)
                    #system_selection_div.bottom-padding-med.left-padding-lg.right-padding-lg
                        legend Tell us about your system to better help you?
                        .col-md-5.pull-left.top-padding-med
                            .form-group.right-padding-med
                                label.control-label Operating system
                                select.form-control.pull-left(ng-model="request.os")
                                    option(value="" selected disabled)
                                    option(ng-repeat="os in os_selection track by os.value" value="{{::os.value}}") {{::os.name}}
                                input.form-control(
                                name="os_text"
                                type="text"
                                ng-model="request.os_text"
                                placeholder="OS name..."
                                required
                                ng-if="request.os=='other'")
                        .col-md-5.pull-left.top-padding-med
                            .form-group.right-padding-med
                                label.control-label Browser
                                select.form-control.pull-left(ng-model="request.browser")
                                    option(value="" selected disabled)
                                    option(ng-repeat="browser in browser_selection track by browser.value" value="{{::browser.value}}") {{::browser.name}}
                                input.form-control(
                                name="browser_text"
                                type="text"
                                ng-model="request.browser_text"
                                placeholder="Browser name..."
                                required
                                ng-if="request.browser=='other'")
                        .col-md-2.pull-left.top-padding-med
                            .form-group
                                label.control-label Version
                                input.form-control(type="text", ng-model="request.browser_ver", ng-pattern="versionPattern")
                        .clear-fix

                #control_buttions.left-padding-lg.bottom-padding-lg.top-padding-lg
                    .col-md-4.pull-right
                        button.btn.btn-primary(
                        ng-click="sendRequest()"
                        ng-disabled="request_form.$invalid"
                        ) Send request
                        | &nbsp;
                        button.btn.btn-danger(
                        ng-click="clearRequest()"
                        ) Clear form
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel
                    .clear-fix